- title "Usage"

%h1
  %i.fa.fa-area-chart
  Cloud Usage

= select_tag :month_year, @usage_nav, class: 'hide'

- if @year == Time.now.year && @month == Time.now.month
  %p.tiny
    Last Updated:
    = @last_updated

.pull-right
  - if current_organization.test_account?
    %p.tiny
      %em This is a test account and will not be billed for usage.
  - else
    %p.tiny= link_to 'View Pricing', 'http://www.datacentred.co.uk/pricing/', target: '_blank'

- if @usage.any?
  - @usage[:projects].each do |project|
    %h2
      %i.fa.fa-folder-o
      = project[:name]

    = render partial: 'admin/usage/results/vouchers',        locals: { vouchers:     @active_vouchers                                                }
    = render partial: 'admin/usage/results/instances',       locals: { project_uuid: project[:id], instances:         project[:usage][:instances]    }
    = render partial: 'admin/usage/results/volumes',         locals: { project_uuid: project[:id], volumes:           project[:usage][:volumes]      }
    = render partial: 'admin/usage/results/images',          locals: { project_uuid: project[:id], images:            project[:usage][:images]       }
    = render partial: 'admin/usage/results/objects',         locals: { tbh:          project[:usage][:object_storage][:usage].sum{|u| u[:value]}     }
    = render partial: 'admin/usage/results/ips',             locals: { ips:          project[:usage][:ips]                                           }
    = render partial: 'admin/usage/results/load_balancers',  locals: { project_uuid: project[:id], load_balancers:  project[:usage][:load_balancers] }
    = render partial: 'admin/usage/results/vpn_connections', locals: { project_uuid: project[:id], vpn_connections: project[:usage][:vpns]           }

  %h3
    %em No usage data collected yet.

- if current_organization.show_costs?
  = render partial: 'total', locals: { sub_total: @usage_decorator.sub_total, grand_total: @usage_decorator.grand_total }
.push

%p.tiny
  * Usage information is updated automatically every hour and accounts for instance resizing.
  %br
  ** These figures are purely indicative of cost and the final monthly amount will be issued separately.
  %br
  † Instances running DataCentred Windows images are marked with the Windows
  %i.fa.fa-windows
  icon and billed additional licensing rates per hour.
.push