- title "Usage"

%h1
  %i.fa.fa-paper-plane
  Cloud Usage

= select_tag :month_year, @usage_nav

- @usage.each do |tenant, results|
  %h2
    %i.fa.fa-folder-o
    = tenant.name

  = render partial: 'admin/usage/results/vouchers',  locals: { vouchers: @active_vouchers }
  = render partial: 'admin/usage/results/instances', locals: { project: tenant, instances:         results[:instance_results]         }
  = render partial: 'admin/usage/results/volumes',   locals: { project: tenant, volumes:           results[:volume_results]           }
  = render partial: 'admin/usage/results/images',    locals: { project: tenant, images:            results[:image_results]            }
  = render partial: 'admin/usage/results/objects',   locals: { project: tenant, tbh:               results[:object_storage_results]   }
  = render partial: 'admin/usage/results/ips',       locals: { project: tenant, ip_quotas:         results[:ip_quota_results],                                                           external_gateways: results[:external_gateway_results],
                                                               project: tenant}

= render partial: 'total', locals: { grand_total: @usage_decorator.grand_total }
.push