= image_tag 'logo_large.png'

%h1 Dashboard

%p= link_to 'CSS', css_path
%p= link_to 'Components', components_path

%h3 Login

%form{'role' => 'form'}
  .form-group
    %label{'for' => "exampleInputEmail1"} Email address
    = text_field_tag 'email', '', :type => "email", :class => "form-control",
                              :id => "exampleInputEmail1", :placeholder => "Enter email"
  .form-group
    %label{'for' => "exampleInputPassword1"} Password
    = text_field_tag 'password', '', :type => "password", :class => "form-control",
                              :id => "exampleInputPassword1", :placeholder => "Enter Password"
  = submit_tag 'Submit', :type => 'submit', :class => 'btn btn-primary'
