.container-projects#projects-section
  #projects-count
    Projects:
    = @projects.count
  %hr
  .project-list
    .table-responsive
      %table.table.table-striped
        %thead
          %th Name
          %th UUID
          %th Members
          %th Limits
        %tbody
          - if @projects.any?
            - @projects.each do |project|
              %tr
                %td= project.name
                %td= project.uuid
                %td= project.users.uniq.count
                %td
                  %a{:class => "btn btn-default limits-collapse", :role => "button", :'data-toggle' => "collapse", :href => "#collapse#{project.id}", :'aria-expanded'=>"false", :'aria-controls'=>"collapse#{project.id}"} Show
                  %div{id: "collapse#{project.id}", class: "accordion-body collapse"}
                    - ['compute', 'volume', 'network'].sort.each do |key|
                      - project.quota_set[key].each do |k,v|
                        %h6
                          = number_with_precision(v, :delimiter => ',', :separator => '.', :precision => 0)
                          = fix_abbreviation_case(k.humanize.titleize.pluralize(v))
                    %a{class: "btn btn-default", role: 'button', href: support_quotas_path} Edit
          - else
            %tr
              %td
                %em No Projects.
