- title "Overview"

= render partial: 'support/tickets/incidents'

- if current_organization.cloud?
  .container#usage-capacity-summary
    = render partial: 'support/dashboard/header'

  .container
    #dashboard_buttons.pull-right
      - unless current_organization.frozen?
        - if current_organization.compute? && can?(:read, :cloud)
          %a{class: "btn btn-primary has-tooltip", href: openstack_path, target: '_blank', 'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => 'Log in using your username/password',}
            OpenStack Dashboard
        - if current_organization.known_to_payment_gateway? && (can?(:read, :cloud) || can?(:read, :storage))
          %a{class: "btn btn-default", href: '', 'data-toggle' => "modal", 'data-target' => "#showOpenStackDetails"}
            API Details

  .container-fluid#graph-tabs
    .centered-tabs
      %ul.nav.nav-tabs#compute-volume-network-tabs
        %li{'class' => active_tab?('compute')}
          %a{:href => '#compute', 'data-toggle' => 'tab', 'data-name' => 'compute'}
            = t(:compute)
        %li{'class' => active_tab?('volume')}
          %a{:href => '#volume', 'data-toggle' => 'tab', 'data-name' => 'volume'}
            = t(:volume)
        %li{'class' => active_tab?('network')}
          %a{:href => '#network', 'data-toggle' => 'tab', 'data-name' => 'network'}
            = t(:network)

    .tab-content
      .tab-pane#compute{'class' => active_tab?('compute')}
        = render partial: 'support/graphs/compute'

      .tab-pane#volume{'class' => active_tab?('volume')}
        = render partial: 'support/graphs/volume'

      .tab-pane#network{'class' => active_tab?('network')}
        = render partial: 'support/graphs/network'

- else
  &nbsp;
  .jumbotron.bg-info
    %h3
      = image_tag 'logo_small.png'
      Welcome
    %p== This is the DataCentred online control panel.

    %em== If you have any questions or issues, please report them via the #{link_to 'Support Tickets', support_tickets_path} section.
