- title "Overview"

.container-dashboard
  .row.dashboard-main-content
    .col-md-12
      = render partial: 'support/tickets/incidents'

      - if current_organization.cloud?
        .dashboard-header
          .container#usage-capacity-summary
            = render partial: 'support/dashboard/header'

        .dashboard-buttons
          = render partial: 'support/dashboard/buttons'

        .dashboard-content
          = render partial: 'support/dashboard/graphs'
      - else
        &nbsp;
        .jumbotron.bg-info
          %h3
            = image_tag 'logo_small.png'
            Welcome
          %p== This is the DataCentred online control panel.

          %em== If you have any questions or issues, please report them via the #{link_to 'Support Tickets', support_tickets_path} section.
