- title "Overview"

.container-dashboard
  %row.dashboard-main-content
    .col-md-12
      = render partial: 'support/tickets/incidents'

      - if current_organization.cloud?
        .dashboard-header
          .container#usage-capacity-summary
            = render partial: 'support/dashboard/header'

        .dashboard-buttons  
          = render partial: 'support/dashboard/buttons'

        .dashboard-content
          .centered-tabs
            %ul.nav.nav-tabs#dashboard-tabs
              %li{'class' => active_tab?('overview')}
                %a{:href => '#overview', 'data-toggle' => 'tab', 'data-name' => 'overview'}
                  %i.fa.fa-cloud
                  = t(:overview)

          .tab-content#dashboard-tabs-content
            .tab-pane#overview{'class' => active_tab?('overview')}
              = render partial: 'support/dashboard/graphs'

      - else
        &nbsp;
        .jumbotron.bg-info
          %h3
            = image_tag 'logo_small.png'
            Welcome
          %p== This is the DataCentred online control panel.

          %em== If you have any questions or issues, please report them via the #{link_to 'Support Tickets', support_tickets_path} section.
