- title "Overview"

.container-dashboard
  %row.dashboard-main-content
    .col-md-12
      = render partial: 'support/tickets/incidents'

      - if current_organization.cloud?
        .dashboard-header
          .container#usage-capacity-summary
            = render partial: 'support/dashboard/header'
        .dashboard-content
          .centered-tabs
            %ul.nav.nav-tabs#overview-projects-tabs
              %li{'class' => active_tab?('overview')}
                %a{:href => '#overview', 'data-toggle' => 'tab', 'data-name' => 'overview'}
                  %i.fa.fa-cloud
                  = t(:overview)
              %li{'class' => active_tab?('projects')}
                %a{:href => '#projects', 'data-toggle' => 'tab', 'data-name' => 'projects'}
                  %i.fa.fa-folder
                  = t(:cloud_projects)

          .tab-content#graphs-projects
            .tab-pane#overview{'class' => active_tab?('overview')}
              = render partial: 'support/dashboard/graphs'

            .tab-pane#projects{'class' => active_tab?('projects')}
              = render partial: 'support/dashboard/projects'

      - else
        &nbsp;
        .jumbotron.bg-info
          %h3
            = image_tag 'logo_small.png'
            Welcome
          %p== This is the DataCentred online control panel.

          %em== If you have any questions or issues, please report them via the #{link_to 'Support Tickets', support_tickets_path} section.
