%h3 Sign In

= form_for(User.new, :url => sessions_path, :method => :post, :html => {:role => 'form'}) do |f|
  = hidden_field_tag :next, params[:next]
  .form-group
    %label{'for' => "exampleInputEmail1"} E-mail Address
    = f.email_field :email, :class => "form-control",
                    :id => "inputEmail", :placeholder => "Enter E-mail", :autofocus => ''
  .form-group
    %label{'for' => "exampleInputPassword1"} Password
    = f.password_field :password, :class => "form-control",
                       :id => "inputPassword", :placeholder => "Enter Password"
  = f.submit 'Sign In', :class => 'btn btn-primary'
  .pull-right
    = link_to 'Reset Password', new_reset_path
    -# |
    -# = link_to 'Create Account', create_signup_path