- title "Sign In"

%h3 Sign In

= display_flash

= form_for(User.new, :url => sessions_path, :method => :post, :html => {:role => 'form'}) do |f|
  = hidden_field_tag :next, params[:next]
  .form-group
    = f.email_field :email, :class => "form-control",
                    :id => "inputEmail", :placeholder => "Email address", :autofocus => ''
  .form-group
    = f.password_field :password, :class => "form-control wink-password",
                       :id => "inputPassword", :placeholder => "Password"
  = f.submit 'Sign In', :class => 'btn btn-primary', style: 'width: 100%; margin-bottom: 10px'
  .pull-right
    = link_to 'Reset Password', new_reset_path
    |
    = link_to 'Create Account', create_signup_path