.container

  %h1
    %i.fa.fa-area-chart
    Usage Data

  = form_tag(admin_usage_index_path, 'role' => 'form') do
    .form-group
      %label Organization
      = select_tag :organization, options_for_select(@organizations, selected: params[:organization]), class: 'form-control'
    .form-group
      %label From Date
      = datetime_select :from, nil, default: @from_date, class: 'form-control'
    .form-group
      %label To Date
      = datetime_select :to, nil, default: @to_date, class: 'form-control'

    = submit_tag 'Generate →', class: 'btn btn-primary'

  = render partial: 'admin/usage/results/instances',      locals: { instance_results:      @instance_results            }
  = render partial: 'admin/usage/results/volumes',        locals: { volume_results:        @volume_results              }
  = render partial: 'admin/usage/results/images',         locals: { image_results:         @image_results               }
  = render partial: 'admin/usage/results/ips',            locals: { floating_ip_results:   @floating_ip_results,                                                                external_gateway_results: @external_gateway_results }
