.container
  %h1
    %i.fa.fa-area-chart
    Usage Data

  = form_tag(admin_usage_index_path, 'role' => 'form') do
    .form-group
      %label Organization
      = select_tag :organization, options_for_select(@organizations, selected: params[:organization]), class: 'form-control'
    .form-group
      %label From Date
      = datetime_select :from, nil, default: @from_date, class: 'form-control', minute_step: 15
    .form-group
      %label To Date
      = datetime_select :to, nil, default: @to_date, class: 'form-control', minute_step: 15

    .form-group
      %label 
        = check_box_tag :clear_cache, nil
        Clear Cached Results?
      %p.help-block Slower, but will regenerate data from scratch

    = submit_tag 'Generate →', class: 'btn btn-primary'
