.container
  %h1.go-back
    %a{href: 'javascript:history.back()'}
      %i.fa.fa-area-chart
      = @project.organization.name
  %p
    %strong Project:
    = @project.name
  %p
    %strong From:
    = @from_date
  %p
    %strong To:
    = @to_date

  = render partial: 'admin/usage/results/instances', locals: { instances:         @instance_results            }
  = render partial: 'admin/usage/results/volumes',   locals: { volumes:           @volume_results              }
  = render partial: 'admin/usage/results/images',    locals: { images:            @image_results               }
  = render partial: 'admin/usage/results/objects',   locals: { tbh:               @object_storage_results      }
  = render partial: 'admin/usage/results/ips',       locals: { ip_quotas:         @ip_quota_results,                                                           external_gateways: @external_gateway_results,
                                                               project:           @project                     }