.container
  %h1.go-back
    %a{href: 'javascript:history.back()'}
      %i.fa.fa-area-chart
      = @organization.name
  %p
    %strong Month:
    = named_month_and_year(@month, @year)
  %p
    %strong Total:
    == £#{number_with_precision(@grand_total, :delimiter => ',', :separator => '.', :precision => 2)}

  - @usage.each do |project, results|
    %hr
    %h2
      %strong Project:
      = project.name

    = render partial: 'admin/usage/results/vouchers',  locals: { vouchers: @active_vouchers }
    = render partial: 'admin/usage/results/instances', locals: { project: project, instances:        results[:instance_usage]            }
    = render partial: 'admin/usage/results/volumes',   locals: { project: project, volumes:           results[:volume_usage]              }
    = render partial: 'admin/usage/results/images',    locals: { project: project, images:            results[:image_usage]             }
    = render partial: 'admin/usage/results/objects',   locals: { project: project, tbh:               results[:object_storage_usage]   }
    = render partial: 'admin/usage/results/ips',       locals: { ip_quotas:         results[:ip_quota_usage],
                                                                 ip_quota_total:    results[:ip_quota_total],
                                                                 external_gateways: @external_gateway_results,
                                                                 project:           project                     }
    = render partial: 'admin/usage/results/load_balancers',      locals: { load_balancers:  results[:load_balancer_usage], project: project }
    = render partial: 'admin/usage/results/vpn_connections',     locals: { vpn_connections: results[:vpn_connection_usage], project: project }
    = render partial: 'admin/usage/results/bandwidth',       locals: { bandwidth:   results[:bandwidth_usage],
                                                                 project:           project                     }
