.container
  %h1.go-back
    %a{href: 'javascript:history.back()'}
      %i.fa.fa-area-chart
      = @organization.name
  %p
    %strong Month:
    = named_month_and_year(@month, @year)
  %p
    %strong Total:
    == £#{number_with_precision(@grand_total, :delimiter => ',', :separator => '.', :precision => 2)}

  - @usage[:projects].each do |project|
    %hr
    %h2
      %strong Project:
      = project[:name]

    = render partial: 'admin/usage/results/vouchers',        locals: { vouchers:     @active_vouchers                                                }
    = render partial: 'admin/usage/results/instances',       locals: { project_uuid: project[:id], instances:         project[:usage][:instances]    }
    = render partial: 'admin/usage/results/volumes',         locals: { project_uuid: project[:id], volumes:           project[:usage][:volumes]      }
    = render partial: 'admin/usage/results/images',          locals: { project_uuid: project[:id], images:            project[:usage][:images]       }
    = render partial: 'admin/usage/results/objects',         locals: { tbh:          project[:usage][:object_storage][:usage].sum{|u| u[:value]}     }
    = render partial: 'admin/usage/results/ips',             locals: { ips:          project[:usage][:ips]                                           }
    = render partial: 'admin/usage/results/load_balancers',  locals: { project_uuid: project[:id], load_balancers:  project[:usage][:load_balancers] }
    = render partial: 'admin/usage/results/vpn_connections', locals: { project_uuid: project[:id], vpn_connections: project[:usage][:vpns]           }
