.modal.fade{'id' => id, 'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => id, 'aria-hidden' => "true", 'data-backdrop' => 'static'}
  .modal-dialog
    .modal-content
      = form_for role, url: form_path, :remote => true do |f|
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h4.modal-title#addRole
            %i.fa.fa-key
            = title
          %p= t(:role_directions)
        .modal-body
          = javascript_error_messages_for(role)
          .input-group
            %span.input-group-addon
              %i.fa.fa-key
            = f.text_field :name, placeholder: t(:name), class: "form-control", autofocus: true
        .modal-footer
          %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            = t(:cancel)
          = submit_tag title, class: 'btn btn-primary', id: 'submit'
