= form_for role, :url => support_role_path(role), :html => { :class => 'form-horizontal'}, :remote => true do |f|
  - for role_group_name, permissions in Permissions.user.group_by { |k,v| v[:group] }.sort_by{ |a, b| a }
    .control-group
      %h3= role_group_name
      = hidden_field_tag 'role[name]', role.name
      .controls
        - for key, perms in permissions
          %label.checkbox
            = check_box_tag 'role[permissions][]', key, role.permissions.include?(key), :id => "permission-#{key}", :class => 'role-permission', :disabled => can?(:modify, Role) ? false : true
            = "#{perms[:description]}?"