- unless role.power_user?
  = render partial: 'form', locals: {role: role, form_path: support_role_path(role), title: t(:rename_role), id: "renameRole#{role.id}"}
.panel.panel-default
  .panel-heading

    .view-permissions
      - unless role.power_user?
        - if can? :modify, Role
          %a{'href' => support_role_path(role), :data => { confirm: "#{t(:delete_the_role)} '#{role.name}'?", method: :delete}}
            %i.fa.fa-trash-o
      %p.toggle-panel
        %a.toggle-panel{'href' => "#role_#{role.id}", 'data-toggle' => 'collapse', 'data-parent' => '#accordionRoles'}
          %i.fa.fa-lock
            View Permissions
          %i.fa.fa-unlock.hide
            Hide Permissions

    %h2.panel-title
      %i.fa.fa-key
      = role.name
    - if !role.power_user? && can?(:modify, Role)
      %p.tiny
        %a{'href' => '#', 'data-toggle' => "modal", 'data-target' => "#renameRole#{role.id}"}
          = t(:rename)
    %p.tiny
      = pluralize(role.users.count, t(:member))
    = render partial: 'support/users/images', locals: {role: role}
 
  .panel-collapse.collapse{:id => "role_#{role.id}"}
    .panel-body
      = render partial: 'permissions', locals: {role: role}