- title "Team"

%h1
  %i.fa.fa-users
  Team

.container-fluid
  %ul.nav.nav-tabs#user-role-tabs
    %li{'class' => active_tab?('users')}
      %a{:href => '#users', 'data-toggle' => 'tab', 'data-name' => 'users'}
        = t(:users)
    %li{'class' => active_tab?('roles')}
      %a{:href => '#roles', 'data-toggle' => 'tab', 'data-name' => 'roles'}
        = t(:roles)

  .tab-content
    .tab-pane#users{'class' => active_tab?('users')}
      = render partial: 'support/users/list', locals: { users: @users, open_invites: @open_invites }

    .tab-pane#roles{'class' => active_tab?('roles')}
      = render partial: 'list', locals: { roles: @roles }

= pagination @users