.container-fluid
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#users', 'data-toggle' => 'tab'}
        Users
    %li
      %a{:href => '#roles', 'data-toggle' => 'tab'}
        Roles

  .tab-content
    .tab-pane.active#users
      .page-controls
        %button.btn.btn-primary.btn-xs
          %i.fa.fa-edit
          New
      %table.table
        %thead
          %th
            %i.fa.fa-user
          %th
            Name
          %th
            E-Mail
          %th
            Roles
        %tbody
          - @users.each do |user|
            %tr
              %td= gravatar_image_tag(user.email, title: user.name, alt: user.name)
              %td= link_to user.name, "#user_#{user.id}", 'data-toggle' => 'collapse', 'data-parent' => '#accordionUsers'
              %td= link_to user.email, "mailto:#{user.email}"
              %td
                %i.fa.fa-key
                = list_of_roles(user)

    .tab-pane#roles
      .panel-group#accordionRoles
        .page-controls
          %button.btn.btn-primary.btn-xs
            %i.fa.fa-edit
            Add New Role
        - @roles.each do |role|
          .panel.panel-default
            .panel-heading
              %h2.panel-title
                %i.fa.fa-key
                = link_to role.name, "#role_#{role.id}", 'data-toggle' => 'collapse', 'data-parent' => '#accordionRoles'
              %p.tiny= pluralize(role.users.count, 'member')
              %div
                - for user in role.users
                  %a{href: support_user_path(user)}
                    = gravatar_image_tag(user.email, title: user.name, alt: user.name)
           
            .panel-collapse.collapse{:id => "role_#{role.id}"}
              .panel-body
                = form_for role, :url => support_role_path(role), :html => { :class => 'form-horizontal'}, :remote => true do |f|
                  - for role_group_name, permissions in Permissions.user.group_by { |k,v| v[:group] }.sort_by{ |a, b| a }
                    .control-group
                      %h3= role_group_name
                      = hidden_field_tag 'role[name]', role.name
                      .controls
                        - for key, perms in permissions
                          %label.checkbox
                            = check_box_tag 'role[permissions][]', key, role.permissions.include?(key), :id => "permission-#{key}", :class => 'role-permission'
                            = "#{perms[:description]}?"


