- if vouchers.any?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %th Name
        %th Code
        %th Duration
        %th Discount
        %th Remaining Uses
        %th Expiry
        %th Quota Restricted?
        %th Applied By
        %th
      %tbody
        - for voucher in vouchers
          %tr
            %td= voucher.name
            %td= voucher.code
            %td= pluralize(voucher.duration, 'day')
            %td= "#{voucher.discount_percent}%"
            %td= voucher.remaining_uses
            %td= voucher.expires_at || "Never"
            %td= voucher.restricted? ? 'Restricted' : 'Unrestricted'
            %td= link_to pluralize(voucher.organizations.count, 'customer'), '', 'data-toggle' => "modal", 'data-target' => "#viewCustomers#{voucher.id}"
            %td
              - if expired
                = link_to 'Re-Activate?', '', class: 'btn btn-info', 'data-toggle' => "modal", 'data-target' => "#editVoucher#{voucher.id}"
              - else
                = link_to 'Expire Early?', admin_utilities_voucher_path(voucher, expires_at: Date.today), class: 'btn btn-info', 'remote' => true, 'data' => { 'method' => :put, 'confirm' => 'Are you sure? Note that customers currently using this discount will still have the discount applied for the original duration.'}
              - unless voucher.applied?
                = link_to 'Delete', admin_utilities_voucher_path(voucher), class: 'btn btn-danger', 'data' => { 'method' => :delete, 'confirm' => 'Are you sure?'}

  - for voucher in vouchers
    = render partial: 'edit', locals: {voucher: voucher }
    = render partial: 'customers', locals: {voucher: voucher }
- else
  .push
  .alert.alert-warning No vouchers found.
