- title "Discount Codes"

%h2
  %i.fa.fa-certificate
  Discount Codes

.pull-right
  = link_to 'New', '', class: 'btn btn-success', 'data-toggle' => "modal", 'data-target' => "#addNewVoucher"

- if params[:expired]
  %h3 Expired
  = link_to 'View Active Codes?', admin_utilities_vouchers_path
- else
  %h3 Active
  = link_to 'View Expired Codes?', admin_utilities_vouchers_path(expired: true)

= render partial: 'vouchers', locals: { vouchers: @vouchers, expired: !!params[:expired] }
= render partial: 'new'
