- title "Online Users"

%h1
  %i.fa.fa-globe
  Online Users

- if @users.any?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %th Name
        %th Organization
        %th IP
        %th Operating System
        %th Browser
        %th Status
      %tbody
        - for user in @users
          %tr
            %td{style: 'width: 78px'}
              = gravatar_image_tag(user.email, :class => 'img-circle nav-profile')
              = user.name
            %td{style: 'width: 78px'}
              = user.primary_organization.name
              .tiny= user.primary_organization.reference
            %td{style: 'width: 78px'}
              = flag_list 16 do
                = flag(user.last_known_connection[:country], title: user.last_known_connection[:country_name])
                = user.last_known_connection[:ip]
            %td{style: 'width: 78px'}
              = os_icon user.last_known_connection[:platform]
              = user.last_known_connection[:platform]
              .tiny= user.last_known_connection[:os]
            %td{style: 'width: 78px'}
              = browser_icon user.last_known_connection[:browser]
              = user.last_known_connection[:browser]
              .tiny= user.last_known_connection[:version]
            %td{style: 'width: 78px'}
              = user.status
              
- else
  %h3 Nobody's been here today :-(
  = image_tag 'tumbleweed.gif', style: 'width: 60%; height: auto'