%h2
  %i.fa.fa-plug
  Welcome!
%p Just a few more details before we get started...

= form_tag({url: signup_complete_path(@invite.token)}, 'role' => 'form') do
  .form-group
    %label First Name
    = text_field_tag :first_name, @registration.first_name, class: 'form-control'
  .form-group
    %label Last Name
    = text_field_tag :last_name, @registration.last_name, class: 'form-control'
  .form-group
    %label Password
    = password_field_tag :password, @registration.password, class: 'form-control strength wink-password'
  .form-group
    #password-progress-bar-container

  .pull-right= submit_tag 'Log In →', class: 'btn btn-primary'
  .form-group= recaptcha_tags
  
  .form-group
    %label
      By logging in, you agree to our
      = link_to 'Privacy Policy', 'http://www.datacentred.co.uk/privacy.html', target: '_blank'
      \.
  
  