%h2
  %i.fa.fa-lock
  Set your password

= form_tag({url: signup_complete_path(@invite.token)}, 'role' => 'form') do

  - if flash.present?
    #flashes= display_flash

  .form-group
    %label Email
    = email_field_tag :email, @invite.email, disabled: true, class: 'form-control', style: 'background: white'
  .form-group
    %label Password
    = password_field_tag :password, @registration.password, class: 'form-control strength wink-password'
  .form-group
    #password-progress-bar-container

  #signup-proceed-button= submit_tag 'Proceed', class: 'btn btn-primary'
  
  .div{style: "text-align: center"}
    %label{style: "width: 100%"}
      By proceeding, you agree to our
      %br
      = link_to 'privacy policy', 'http://www.datacentred.co.uk/privacy.html', target: '_blank'
      and
      = link_to 'terms of service', 'http://www.datacentred.co.uk/terms_of_service.html', target: '_blank'
      \.

= javascript_include_tag asset_path('assets/password-score.js')
