%h2
  %i.fa.fa-lock
  Enter a secure password

= form_tag({url: signup_complete_path(@invite.token)}, 'role' => 'form') do

  - if flash.present?
    #flashes= display_flash

  .form-group
    %label Email
    = text_field_tag :email, @invite.email, disabled: true, class: 'form-control'
  .form-group
    %label Password
    = password_field_tag :password, @registration.password, class: 'form-control strength wink-password'
  .form-group
    #password-progress-bar-container

  .form-group{style: 'margin-left: auto;margin-right: auto;'}
    .pull-right= submit_tag 'Proceed', class: 'btn btn-primary', style: 'height: 76px; font-size: 22px; padding: 25px'
    = recaptcha_tags
  
  .div{style: "text-align: center"}
    %label
      By logging in, you agree to our
      = link_to 'Privacy Policy', 'http://www.datacentred.co.uk/privacy.html', target: '_blank'
      \.
  
  