%h3
  %i.fa.fa-lock
  Please enter a secure password

= form_tag url: signup_complete_path(@invite), html: { 'role' => 'form'} do
  .form-group
    %label Password
    = password_field_tag :password, '', class: 'form-control'
  .form-group
    %label Repeat Password
    = password_field_tag :confirm_password, '', class: 'form-control'

  - unless @invite.organization
    %h3
      %i.fa.fa-suitcase
      Please name your organization
    .form-group
      %label Organization name
      = text_field_tag :organization_name, '', class: 'form-control'

  = submit_tag 'Continue →', class: 'btn btn-primary'