%h3
  %i.fa.fa-lock
  Please enter a secure password

= form_tag({url: signup_complete_path(@invite.token)}, 'role' => 'form') do
  .form-group
    %label Password
    = password_field_tag :password, @registration.password, class: 'form-control'
  .form-group
    %label Repeat Password
    = password_field_tag :confirm_password, @registration.confirm_password, class: 'form-control'

  - unless @invite.organization
    %h3
      %i.fa.fa-suitcase
      Please name your organization
    .form-group
      %label Organization name
      = text_field_tag :organization_name, @registration.organization_name, class: 'form-control'

  .form-group
    %label
      I confirm I have read and accept the
      = link_to 'DataCentred privacy policy', 'http://datacentred.co.uk/privacy-policy/', target: '_blank'
    = check_box_tag :privacy, @registration.privacy, @registration.privacy
  
  = submit_tag 'Continue →', class: 'btn btn-primary'