%h2
  %i.fa.fa-cloud
  Cloud Services Sign-up

%ol.breadcrumb
  %li Details
  %li.active Payment
  %li.active Confirm

%div#signup-form-area
  #flashes= display_flash
  = form_tag(create_signup_path, 'role' => 'form') do
    .row
      .col-md-4 &nbsp;
      .col-md-6
        %h3
          %i.fa.fa-user
          About You
        .form-group
          %label E-Mail Address
          = text_field_tag :email, @customer_signup.email, class: 'form-control'
        .form-group
          %label Company Name
          = text_field_tag :organization_name, @customer_signup.organization_name, class: 'form-control', placeholder: "Leave blank if signing up as an individual"
        .form-group
          = submit_tag 'Continue →', class: 'btn btn-success'
      
    .row
      .col-md-8
        -# .form-group
        -#   %label
        -#     = check_box_tag :privacy, @customer_signup.privacy, @customer_signup.privacy
        -#     I confirm I have read and accept the
        -#     = link_to 'DataCentred privacy policy', 'http://datacentred.co.uk/privacy-policy/', target: '_blank'
          
