- title "Sign Up"

%h3 Sign Up

%div#signup-form-area
  = form_tag(create_signup_path, 'role' => 'form') do
    - if flash.present?
      #flashes= display_flash

    = hidden_field_tag :discount_code, params[:discount_code]

    .form-group
      = email_field_tag :email, @email || @customer_signup.email, class: 'form-control', placeholder: 'Email address'
    = recaptcha_tags
    .form-group
      = submit_tag 'Create Account', class: 'btn btn-primary', style: 'width: 100%'
    .pull-right
      = link_to 'Already got an account?', sign_in_path
  