.modal.fade#addNewProject{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "addNewProject", 'aria-hidden' => "true", 'data-backdrop' => 'static'}
  .modal-dialog
    .modal-content
      = form_for Tenant.new, url: support_projects_path, id: 'add_new_project', remote: true do |f|
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h4.modal-title#addNewProject
            %i.fa.fa-folder-o
            Add New Project
          %p Please enter a name for your project
        .modal-body
          = javascript_error_messages_for(f.object)
          #project-details
            .form-group
              %label Name
              = f.text_field :name, :class => 'form-control'
            .form-group
              %label Members
              = render partial: 'users', locals: {tenant: f.object}
        .modal-footer
          %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            = t(:cancel)
          = submit_tag 'Add', class: 'btn btn-primary', id: 'submit_button'
