%h1
  %i.fa.fa-shield
  Stronghold Admin

%ul
  %li= link_to 'Set up a new customer', new_admin_customer_path
  %li= link_to 'Usage Data', admin_usage_index_path
  -# %li= link_to 'Edit with Rails Admin', rails_admin_path
  %li= link_to 'Queue', sidekiq_web_path, target: '_blank'
  %li= link_to 'Sanity', admin_sanity_index_path
  %li= link_to 'Discount Codes', admin_vouchers_path
  %li= link_to 'Pending Customers', admin_pending_customers_path
  %li= link_to 'Frozen Customers', admin_frozen_customers_path
  %li= link_to 'Quota Limits', admin_quotas_path
  %li= link_to 'Pending Invoices', admin_pending_invoices_path
  %li= link_to 'Migrating Accounts', admin_account_migrations_path
  %li= link_to 'Billing Rates', admin_billing_rates_path
  %li= link_to 'Resellers', admin_resellers_path
