%h1
  %i.fa.fa-credit-card
  Almost there...

%div#signup-form-area
  = form_tag(support_cards_path, 'role' => 'form', 'id' => 'cc-details') do
    .row
      .col-md-4
        %h3 1. Card Details
        = hidden_field_tag :signup_uuid, @customer_signup.uuid
        #card-display
        #flashes
        .form-group
          .inline
            = text_field_tag :card_number, nil, :class => 'form-control', 'data-stripe' => 'number', placeholder: 'CARD NUMBER'
            = text_field_tag :cvc, nil, :size => 4, :placeholder => 'CVC', :class => 'form-control', 'data-stripe' => 'cvc'
        .inline-form-groups
          .form-group#name
            %label Name
            = text_field_tag :name, nil, :class => 'form-control', 'data-stripe' => 'name'
          .form-group#expiry
            %label Expiry Date
            = text_field_tag :expiry, nil, :class => 'form-control', placeholder: 'MM/YYYY'
        = hidden_field_tag :expiry_month, nil, 'data-stripe' => 'exp-month'
        = hidden_field_tag :expiry_year, nil, 'data-stripe' => 'exp-year'

      .col-md-4
        %h3 2. Billing Address
        .form-group
          #lookup-field
        .form-group
          %label Address
          = text_field_tag :address_line1, nil, :class => 'form-control', 'data-stripe' => 'address_line1', placeholder: 'Address Line 1'
        .form-group
          = text_field_tag :address_line2, nil, :class => 'form-control', 'data-stripe' => 'address_line2', placeholder: 'Address Line 2'
        .form-group
          %label City
          = text_field_tag :address_city, nil, :class => 'form-control', 'data-stripe' => 'address_city'
        = hidden_field_tag :postcode, nil, 'data-stripe' => 'address_zip'
        .form-group
          = country_select :address_country, nil, {:selected => 'GB'}, {:class => 'form-control', 'data-stripe' => 'address_country', :id => 'address_country'}
      .col-md-4
        %h3 3. Confirm
        = render partial: 'info'
        .form-group
          %label Discount Code
          .input-group{style: 'width:100%'}
            = text_field_tag :discount_code, nil, placeholder: 'Got a discount code? Enter it here!', class: 'form-control'
          %p.help-block
            #discount_code_message
        .pull-right
          = submit_tag 'Complete Signup →', class: 'btn btn-success'
          %label
            By signing up, you agree to our
            = link_to 'Terms of Service', 'http://datacentred.co.uk/terms-and-conditions/', target: '_blank'
            \.
    .pull-right
      .powered-by-stripe
        %a{href: "https://stripe.com", target: '_blank'}
          = image_tag 'powered_by_stripe.png'

.push
= javascript_include_tag asset_path('assets/card.js')
