.pull-right= image_tag 'cloud-symbol.png', width: 220, id: 'cloud-symbol'
%h1
  %i.fa.fa-plug
  Activate

.lead
  Before we let you loose spinning up instances,
  %br we need to activate your account...

.small
  You can also activate by getting in touch on
  = tel_to '+44 161 870 3981'
  between 9am and 5pm GMT.

.push

%a{name: 'view-errors'}

%div#signup-form-area
  = form_tag(support_cards_path, 'role' => 'form', 'id' => 'cc-details') do
    .jumbotron
      .row
        .col-md-5
          %h2 Billing Address
          %h4 Postcode / ZIP
          .form-group
            #lookup-field
          .form-group
            %label Address
            = text_field_tag :address_line1, nil, :class => 'form-control', 'data-stripe' => 'address_line1', placeholder: 'Address Line 1'
          .form-group
            = text_field_tag :address_line2, nil, :class => 'form-control', 'data-stripe' => 'address_line2', placeholder: 'Address Line 2'
          .form-group
            %label City
            = text_field_tag :address_city, nil, :class => 'form-control', 'data-stripe' => 'address_city'
          = hidden_field_tag :postcode, nil, 'data-stripe' => 'address_zip'
          .form-group
            = country_select :address_country, nil, {:selected => @location}, {:class => 'form-control', 'data-stripe' => 'address_country', :id => 'address_country'}
          %p.small
            %em
              We need to verify the address associated with your card. We will protetct your personal information in accordance with our
              = link_to 'privacy policy', 'http://www.datacentred.co.uk/privacy.html'
              \.
        .col-md-2
        .col-md-5
          %h2 Card Details
          #card-display
          = hidden_field_tag :signup_uuid, @customer_signup.uuid
          #flashes
          .form-group
            %label Card Number
            .inline
              = text_field_tag :card_number, nil, :class => 'form-control', 'data-stripe' => 'number'
              = text_field_tag :cvc, nil, :size => 4, :placeholder => 'CVC', :class => 'form-control', 'data-stripe' => 'cvc'
          .inline-form-groups
            .form-group#name
              %label Name
              = text_field_tag :name, nil, :class => 'form-control', 'data-stripe' => 'name'
            .form-group#expiry
              %label Expiry Date
              = text_field_tag :expiry, nil, :class => 'form-control', placeholder: 'MM/YYYY'
          = hidden_field_tag :expiry_month, nil, 'data-stripe' => 'exp-month'
          = hidden_field_tag :expiry_year, nil, 'data-stripe' => 'exp-year'
          .pull-right
            .powered-by-stripe
              .pull-right
                %a{href: "https://stripe.com", target: '_blank'}
                  = image_tag 'powered_by_stripe.png'
          %p.small
            %em
              Your card details are handled directly by Stripe
              and never sent to our servers.
    .row
      .col-md-7
        #horizon
          = image_tag 'horizon.png', id: 'horizon'
      .col-md-5
        .push
        = render partial: 'info'
        .form-group#discount
          %label Discount Code
          .form-group
            = text_field_tag :discount_code, nil, placeholder: 'Got a discount code? Enter it here!', class: 'form-control'
            %p.help-block
              #discount_code_message
        .pull-right= submit_tag 'Activate →', class: 'btn btn-primary btn-lg', id: 'complete-signup'
        
.pull-right
  %label
    By activating, you agree to our
    = link_to 'Terms of Service', 'http://www.datacentred.co.uk/terms_of_service.html', target: '_blank'
    \.    
          
= javascript_include_tag asset_path('assets/card.js')
