%h1 Sanity Checks for Usage Data

%h3 States Count
== #{@total} new states collected in the last 24 hours

%h3 Billing Sync Breakdown

%table.table
  %thead
    %th ID
    %th Started At
    %th Completed At
    %th Summary
  %tbody
    - @syncs.each do |sync|
      %tr
        %td= sync.id
        %td= sync.started_at
        %td= sync.completed_at
        %td= sync.summary
