- title "Sanity Checks"

%h1
  %i.fa.fa-bug
  Sanity Checks for Usage Data

%h3 States Count
== #{@total} new states collected in the last 24 hours

%h3 Billing Sync Breakdown

.table-responsive
  %table.table
    %thead
      %th ID
      %th Completed At
      %th Period Start
      %th Period End
      %th Summary
    %tbody
      - @syncs.each do |sync|
        %tr
          %td= sync.id
          %td= sync.completed_at
          %td= sync.period_from
          %td= sync.period_to
          %td= sync.summary
