.container.customer-header
  .header-section
  %row
    .col-md-9
      .pull-right
        = render partial: 'admin/customers/search'
      %h1
        %i.fa.fa-briefcase
        = @organization.name
      %h3
        Reference:
        = @organization.reporting_code
      = link_to "← Back to #{@organization.name}", admin_customer_path(organization)
  
  