.row#organization-stats
  .col-md-4.stats-column.left
    %div.stats-title Created at
    %div.stats-content
      = long_date(@organization.created_at)
  .col-md-4.stats-column.middle
    %div.stats-title Projects
    %div.stats-content
      = @projects.count
  .col-md-4.stats-column.right
    %div.stats-title Spent this week
    %div.stats-content
      = number_to_currency(@organization.weekly_spend, :unit => "£")

.row#organization-billing-info
  .table-responsive
    %table.table.table-striped.table-bordered
      %thead
      %tbody
        %tr
          %td.first-column
            Billing Contact
          %td
            - if @organization.billing_contact?
              = mail_to @organization.billing_contact
            - else
              None
        %tr
          %td.first-column
            Billing Address
          %td
            - if @organization.billing_address1?
              %ul#billing_address-list
                %li
                  = @organization.billing_address1
                %li
                  = @organization.billing_city? ? @organization.billing_city : 'None'
                %li
                  = @organization.billing_postcode? ? @organization.billing_postcode : 'None'
            - else
              None
        %tr
          %td.first-column
            Salesforce Customer ID
          %td
            - if @organization.salesforce_id?
              = link_to @organization.salesforce_id, ExternalLinks.salesforce_invoice_path(@organization.salesforce_id)
            - else
              None
        %tr
          %td.first-column
            Stripe Customer ID
          %td
            - if @organization.stripe_customer_id?
              = link_to @organization.stripe_customer_id, ExternalLinks.stripe_path("customers", @organization.stripe_customer_id)
            - else
              None
