.table-responsive
  %table.table.table-striped
    %thead
      %th Title
      %th
        %i.fa.fa-user
      %th.fixed-width-100 Date
      %th.fixed-width-100 Code
      %th Priority
      %th Description
    %tbody
      - if @tickets.any?
        - @tickets.each do |ticket|
          - if ticket[:status_name] == 'Open'
            %tr{class: "#{ticket[:priority]=='Emergency' ? 'danger' : ''}"}
              %td= link_to ticket[:title], ExternalLinks.ticket_path(ticket[:reference])
              %td= ticket[:name]
              %td= ticket[:created_at]
              %td= ticket[:reference]
              %td= ticket[:priority]
              %td= ticket[:description]
      - else
        %tr
          %td
            %em No tickets.
