- title "New Customer"

%h1
  %i.fa.fa-briefcase
  New Customer

= form_tag(admin_customers_path, 'role' => 'form') do
  .form-group
    %label Organization Name
    = text_field_tag :organization_name, @customer.organization_name, class: 'form-control'
  .form-group
    %label Administrator E-Mail
    = email_field_tag :email, @customer.email, class: 'form-control'
  .form-group
    %label Salesforce ID
    = text_field_tag :salesforce_id, @customer.salesforce_id, class: 'form-control', placeholder: 'If they already have one'
  %h4 Products
  = collection_check_boxes(:organization, :product_ids, Product.all, :id, :name, {}, {})
  %hr
  .form-group
    %label Extra tenants?
    = text_field_tag :extra_tenants, @customer.extra_tenants, class: 'form-control'
    %p.help-block Comma separate i.e "Tenant 1, Tenant 2"

  = submit_tag 'Continue →', class: 'btn btn-primary'