- title "Dashboard"
.header-section
  %row
    .col-md-9
      %h1
        %i.fa.fa-briefcase
        = @organization.name
      %h3
        Reference:
        = @organization.reporting_code
    .pull-right
      = render partial: 'search'

.admin-customer-section
  .row
    .col-md-8
      .panel.panel-info
        .panel-heading
          %i.fa.fa-info
          Information
        .panel-body
          .container.customer-information
            = render partial: 'admin/customers/info'
          = link_to 'Edit', edit_admin_customer_path(@organization), class: 'btn btn-primary information-edit-dashboard'

      .panel.panel-info
        .panel-heading
          %i.fa.fa-tags
          Open Tickets
        .panel-body
          = render partial: 'admin/customers/tickets'

      .panel.panel-info
        .panel-heading
          %i.fa.fa-check-square-o
          Audits Logs
        .panel-body
          = render partial: "support/audits/audits", locals: {audits: @audits}

    .col-md-4
      %div{class: ["panel", @organization.self_service? ? "panel-info" : "panel-warning"].join(" ")}
        .panel-heading
          %div{style: "display: flex; justify-content: space-between;"}
            %div
              %i.fa.fa-toggle-on
              State:
              %strong
                = @organization.state.titleize
            %div
              Account:
              %strong
                = @organization.account_type
        .panel-body.panel-padding
          = render partial: 'admin/customers/states'

      .panel.panel-info
        .panel-heading
          %i.fa.fa-area-chart
          Usage
        .panel-body.panel-padding
          = render partial: 'admin/customers/usage'
          = link_to 'See Usage Data', admin_usage_path(@organization), class: 'link-usage-data'

      .panel.panel-info
        .panel-heading
          %i.fa.fa-user
          Users
        .panel-body.panel-padding
          = render partial: 'admin/customers/users'

      .panel.panel-info
        .panel-heading
          %i.fa.fa-pie-chart
          Manage Customer Quotas
        .panel-body.panel-padding
          = link_to 'Edit Quotas', edit_admin_quota_path(@organization), class: 'btn btn-primary'
