- title "Dashboard"

.admin-customer-section
  .row
    .col-md-8
      .container-fluid#dashboard-tabs
        .centered-tabs
          %ul.nav.nav-tabs#users-projects-audits-tabs
            %li{'class' => active_tab?('users')}
              %a{:href => '#users', 'data-toggle' => 'tab', 'data-name' => 'users'}
                = t(:users)
            %li{'class' => active_tab?('tickets')}
              %a{:href => '#tickets', 'data-toggle' => 'tab', 'data-name' => 'tickets'}
                = t(:tickets)
            %li{'class' => active_tab?('audits')}
              %a{:href => '#audits', 'data-toggle' => 'tab', 'data-name' => 'audits'}
                = t(:audits)

        .tab-content
          .tab-pane#users{'class' => active_tab?('users')}
            .panel.panel-info
              .panel-heading
                %i.fa.fa-info
                Information
              .panel-body
                .container.customer-information
                  = render partial: 'admin/customers/info'
                = link_to 'Edit', edit_admin_customer_path(@organization), class: 'btn btn-primary information-edit-dashboard'

          .tab-pane#tickets{'class' => active_tab?('tickets')}
            .panel.panel-info
              .panel-heading
                %i.fa.fa-tags
                Open Tickets
              .panel-body
                = render partial: 'admin/customers/tickets'

          .tab-pane#audits{'class' => active_tab?('audits')}
            .panel.panel-info
              .panel-heading
                %i.fa.fa-check-square-o
                Audits Logs
              .panel-body
                = render partial: "support/audits/audits", locals: {audits: @audits}
                - if @audits.any?
                  = link_to 'See more', admin_audit_path(@organization)

    .col-md-4
      %div.panel.panel-info
        .panel-heading
          %div#paying_and_account_type{style: "display: flex; justify-content: space-between;"}
            %div
              = form_for @organization, url: admin_customer_path(@organization), :remote => true, :html => {:role => 'form', :id => 'paying_form'} do |f|
                .form-group
                  = f.check_box :started_paying_at?, {:id=>"toggle-paying", class:'toggle', data: {:paying => @organization.paying?},
                                'data-toggle'=>"toggle", 'data-on'=>"Paying",
                                'data-off'=>"Not paying", 'data-size'=> "small", 'data-onstyle'=>"info", 'data-offstyle'=>"danger"}
            %div
              - unless @organization.staff?
                = form_for @organization, url: admin_account_migration_path(@organization), :remote => true, :html => {:role => 'form', :id => 'account_form'} do |f|
                  .form-group
                    = f.check_box :self_service?, {:id=>"toggle-account", class:'toggle', data: {:account => @organization.self_service},
                                  'data-toggle'=>"toggle", 'data-on'=>"Self-Service",
                                  'data-off'=>"Invoiced/Trial", 'data-size'=> "small", 'data-onstyle'=>"info", 'data-offstyle'=>"primary"}

        .panel-body.panel-padding
          = render partial: 'admin/customers/states'

      .panel.panel-info
        .panel-heading
          %i.fa.fa-area-chart
          Usage
        .panel-body.panel-padding
          = render partial: 'admin/customers/usage'
          = link_to 'See Usage Data', admin_usage_path(@organization), class: 'link-usage-data'

      .panel.panel-info#users-panel
        .panel-heading
          %i.fa.fa-user
          Users
        .panel-body.panel-padding
          = render partial: 'admin/customers/users'

      .panel.panel-info
        .panel-heading
          %i.fa.fa-pie-chart
          Manage Customer Quotas
        .panel-body.panel-padding
          = link_to 'Edit Quotas', edit_admin_quota_path(@organization), class: 'btn btn-primary'
