%h2
  %i.fa.fa-gbp
  Billing Rates

%hr

%h2 Instances

.alert.alert-warning
  %i.fa.fa-exclamation-triangle
  Changes to instance rates will have an immediate effect on billing calculations.

- if @billing_rates.any?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %th Flavor
        %th Architecture
        %th CPUs
        %th RAM (MB)
        %th Disk (GB)
        %th Rate £/Hour
      %tbody
        - for rate in @billing_rates
          %tr
            %td= rate.instance_flavor.name
            %td= architecture_human_name(rate.arch)
            %td= rate.instance_flavor.vcpus
            %td= rate.instance_flavor.ram
            %td= rate.instance_flavor.disk
            %td{style: 'width: 240px'}
              = form_for rate, url: admin_billing_rate_path(rate), remote: true, class: 'form-inline' do |f|
                .form-group
                  .input-group
                    = f.number_field :rate, class: 'billing_rate_edit form-control', min: 0, max: 100, step: 0.00001
                    .input-group-addon#small-save= submit_tag 'Save', class: 'btn btn-primary btn-sm', disable_with: 'Saving...'
                .inline-javascript-message
                  %p= javascript_error_messages_for(rate)
                  %p= javascript_success_messages_for(rate)
- else
  .push
  .alert.alert-warning No rates found.

%hr

%h3 Storage/IPs*

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %th
      %th Rate
    %tbody
      %tr
        %td Block Storage
        %td== £#{RateCard.block_storage} per TBh
      %tr
        %td SSD Storage
        %td== £#{RateCard.ssd_storage} per TBh
      %tr
        %td Object Storage
        %td== £#{RateCard.object_storage} per TBh
      %tr
        %td Additional Floating IPs
        %td== #{number_to_currency(RateCard.ip_address, unit: '£')} per month

.tiny * These are hard-coded. Inform the dev team if they need to be changed.
