.center{style: 'width: 75px; margin-left: auto; margin-right: auto; margin-bottom: 10px; margin-top: 10px'}= image_tag 'ceph.png'
.alert.alert-info To access your storage services, you may use the credentials and details below.
#show-js-errors
.table-responsive
  %table.table.table-condensed
    %tbody
      %tr
        %td
          %strong Protocol:
        %td
          %i.fa.fa-cubes
          Amazon S3
      %tr
        %td
          %strong Host:
        %td= link_to CEPH_ARGS[:api_url], "https://#{CEPH_ARGS[:api_url]}", target: '_blank'
      %tr
        %td
          %strong Access Key:
        %td#ceph-access-key
          = current_organization_user.ec2_credentials ? current_organization_user.ec2_credentials['access'] : "Unknown" 
          .pull-right
            %button{class: 'btn btn-copy btn-default', 'data-trigger' => 'manual', 'data-clipboard-text' => current_organization_user.ec2_credentials ? current_organization_user.ec2_credentials['access'] : "Unknown", 'data-placement' => "bottom"}
              = image_tag asset_path('clippy.svg'), title: 'Click to copy', class: 'copy-btn-img'
      %tr
        %td
          %strong Secret Key
        %td
          %span.click-to-reveal{'data-reveal' => current_organization_user.ec2_credentials ? current_organization_user.ec2_credentials['secret'] : "Unknown"}
            %em Click To Reveal
          .pull-right
            %button{class: 'btn btn-copy btn-default', 'data-trigger' => 'manual', 'data-clipboard-text' => current_organization_user.ec2_credentials ? current_organization_user.ec2_credentials['secret'] : "Unknown", 'data-placement' => "bottom"}
              = image_tag asset_path('clippy.svg'), title: 'Click to copy', class: 'copy-btn-img'

= link_to "#{content_tag(:i, '', class: 'fa fa-refresh')} Regenerate Credentials".html_safe, '#', id: 'regenerate-ceph-credentials'
  