%footer  
  .container
    .copyright
      = "© DataCentred #{Date.today.year}"
    = link_to 'Terms of Service', 'http://www.datacentred.co.uk/terms-of-service/'
    |
    = link_to 'Getting Started', 'https://docs.datacentred.io/x/WQAJ'
    |
    = link_to 'Documentation', 'http://docs.datacentred.io'
    |
    = link_to 'Status', 'http://status.datacentred.io'

