%footer  
  .container
    .copyright
      = "© DataCentred #{Date.today.year}"
    = link_to 'Terms of Service', 'http://old.datacentred.co.uk/cloud-terms-of-service/'
    |
    = link_to 'Documentation', 'http://docs.datacentred.io'
    |
    = link_to 'Status', 'http://status.datacentred.io'
    |
    = link_to 'Contact', 'http://old.datacentred.co.uk/contact-form/'

