%footer  
  .container
    .copyright
      = "© DataCentred #{Date.today.year}"
    = link_to 'Terms of Service', 'http://www.datacentred.co.uk/terms_of_service.html'
    |
    = link_to 'Documentation', 'http://docs.datacentred.io'
    |
    = link_to 'Status', 'http://status.datacentred.io'

