%footer
  .container
    .copyright
      = "© DataCentred #{Date.today.year}"
    = link_to 'Terms of Service', ExternalLinks.terms_of_service_path
    |
    = link_to 'Getting Started', ExternalLinks.getting_started_path
    |
    = link_to 'Documentation', ExternalLinks.documentation_path
    |
    = link_to 'Status', ExternalLinks.status_path
