.mobile-nav
  %i.fa.fa-bars.dropdown-toggle#mob-menu{:type => "button", :'data-toggle' => "dropdown", :'dropdown-toggle' => ""}
  %ul.dropdown-menu{:role => "menu"}
    %li
      %a{href: support_root_path}
        %i.fa.fa-home
        Home
    %li.divider
    - if current_organization.cloud?
      - unless current_organization.known_to_payment_gateway?
        %li
          %a{href: activate_path}
            %i.fa.fa-plug
            = 'Activate'
      - if current_organization.known_to_payment_gateway?
        - if can?(:read, :cloud) || can?(:read, :storage)
          %li
            %a{href: support_root_path}
              %i.fa.fa-cloud
              Overview
          %li
            %a{href: support_terminal_path}
              %i.fa.fa-terminal
              Terminal
      - else
        %li.disabled
          %a{href: ''}
            %i.fa.fa-cloud
            Cloud Services
        %li.disabled
          %a{href: ''}
            %i.fa.fa-terminal
            Terminal

      - if can? :read, :usage
        %li
          %a{href: support_usage_path}
            %i.fa.fa-area-chart
            = t(:usage)
      - else
        %li.disabled
          %a{href: ''}
            %i.fa.fa-area-chart
            = t(:usage)
            
    - if current_organization.known_to_payment_gateway?
      - if can? :read, Role
        %li
          %a{href: support_roles_path}
            %i.fa.fa-users
            = 'Team'
      - else
        %li.disabled
          %a{href: ''}
            %i.fa.fa-users
            = t(:users_slash_roles)
    - if can? :read, Ticket
      %li
        %a{href: support_tickets_path}
          %i.fa.fa-life-ring
          = t(:support)
    - else
      %li.disabled
        %a{href: ''}
          %i.fa.fa-life-ring
          = t(:support)
