.center{style: 'width: 100px; margin-left: auto; margin-right: auto; margin-bottom: 10px'}= image_tag 'openstack.png'
.alert.alert-info To access your compute services, you may use the credentials and details below.
.table-responsive
  %table.table.table-condensed
    %tbody
      %tr
        %td
          %strong Dashboard:
        %td= link_to openstack_path, openstack_path, target: '_blank'
      %tr
        %td
          %strong API (Keystone):
        %td= link_to OpenStackConnection.configuration[:openstack_auth_url], OpenStackConnection.configuration[:openstack_auth_url], target: '_blank'
      %tr
        %td
          %strong Username:
        %td= current_user.email
      %tr
        %td
          %strong Password:
        %td
          %em Same as your login password
      %tr
        %td
          %strong Projects:
        %td= current_user.projects.any? ? current_user.projects.map(&:name).uniq.join(', ') : 'No projects configured for your user'
