%div.btn-group.pull-right
  %button.btn.btn-default.dropdown-toggle#user-menu{:type => "button", :'data-toggle' => "dropdown", :'uib-dropdown-toggle' => "", class: ['admin', 'utilities'].include?(current_section) ? 'admin-menu' : ''}
    %span
      = gravatar_image_tag(current_user.email, :class => 'img-circle nav-profile')
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    %li
      %a{:href => support_profile_path}
        %i.fa.fa-user
        My Profile
    - if current_user.staff? && current_user.admin?
      %li
        %a{:href => admin_root_path}
          %i.fa.fa-shield
          = 'Admin'
    - if current_user.power_user?
      %li
        %a{:href => support_edit_organization_path}
          %i.fa.fa-briefcase
          Edit Organization
      - if current_organization.cloud?
        - unless current_organization.limited_storage?
          %li
            %a{:href => support_projects_path}
              %i.fa.fa-folder-o
              Cloud Projects
        %li
          %a{:href => support_quotas_path}
            %i.fa.fa-sliders
            Limits
      - if current_organization.self_service?
        %li
          %a{:href => support_manage_cards_path}
            %i.fa.fa-credit-card
            Payment Settings
      %li
        %a{:href => support_audits_path}
          %i.fa.fa-history
          = t(:audit_log)
    %li.divider
    %li
      %a{:href => signout_path, data: { confirm: "#{t(:sign_out)}?", :method => :post }}
        %i.fa.fa-sign-out
        = t(:sign_out)
