.modal.fade{'id' => "addRoleUser#{role.id}", 'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "addRoleUser", 'aria-hidden' => "true", 'data-backdrop' => 'static'}
  .modal-dialog
    .modal-content
      = form_for OrganizationUserRole.new, url: support_organization_user_roles_path, remote: true do |f|
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h4.modal-title#addRoleUser
            %i.fa.fa-key
            = "#{t(:add_user_to_role)} '#{role.name}'"
          %p= t(:please_choose_a_user)
        .modal-body
          = javascript_error_messages_for(f.object)
          = f.hidden_field :role_id, value: role.id
          .input-group
            %span.input-group-addon
              %i.fa.fa-user
            = f.select :organization_user_id, organization_users_for_select(role), {}, class: "select-user", placeholder: t(:select_a_user)
        .modal-footer
          %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            = t(:cancel)
          = f.submit t(:add), class: 'btn btn-primary'
