- if current_organization.self_service? || true
  .modal.fade#closeAccount{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "closeAccount", 'aria-hidden' => "true", 'data-backdrop' => 'static'}
    .modal-dialog
      = form_tag close_account_path do
        .modal-content
          .modal-header
            %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
              &times;
            %h2.modal-title.text-danger
              %i.fa.fa-warning
              Remove
              %strong= current_organization.name
            %p
              Account Number:
              = current_organization.reporting_code
          .modal-body
            %p
              By proceeding, you will completely remove the
              %strong= current_organization.name
              organization to which your user account belongs.
            %p Please be advised:
            %ul
              %li Removing the organization is not a reversible process.
              %li
                Once you confirm you wish to close, any running instances and other cloud resources will be forcibly terminated and removed.
                %ul
                  %li== This includes #{cloud_resources_summary}.
              %li
                == #{pluralize current_organization.users.count, 'user'} (including you) will no longer be able to access DataCentred apps, the cloud dashboard, or the API as this organization.
              %li Ensure any data you need has been backed up safely elsewhere.
              %li Your remaining account balance will be collected in a final bill payable at the end of the calendar month.
            %p
              If you have any questions, or require assistance please
              = link_to 'raise a support ticket', support_tickets_path
              \.

            .form-group
              %label Confirm password to proceed
              = password_field_tag :password, nil, class: 'form-control wink-password'

          .modal-footer
            %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
              = t(:cancel)
            = submit_tag "Remove #{current_organization.name}?", class: 'btn btn-danger', id: 'submit'