- title "My Account"

%h2 My Account

%p
  %strong Account Number:
  = @organization.reporting_code

= form_for @organization, url: support_organization_path(@organization), :html => {:role => 'form'}, remote: true do |f|
  = javascript_error_messages_for(@organization)
  = javascript_success_messages_for(@organization)
  .row
    .col-md-6
      %h3 Details
      .form-group
        %label Account Name / Company Name
        = f.text_field :name, class: "form-control"
      .form-group
        %label Phone Number
        = f.telephone_field :phone, class: "form-control"
      .form-group
        %label= t(:time_zone)
        = f.time_zone_select :time_zone, nil, {include_blank: false}, {class: "form-control"}
      .form-group
        %label Billing Contact
        = f.email_field :billing_contact, class: "form-control", placeholder: 'E-Mail Address'
    .col-md-6
      %h3 Billing Address
      .form-group
        %label Address 1
        = f.text_field :billing_address1, class: "form-control"
      .form-group
        %label Address 2
        = f.text_field :billing_address2, class: "form-control"
      .form-group
        %label City
        = f.text_field :billing_city, class: "form-control"
      .form-group
        %label Postcode / ZIP
        = f.text_field :billing_postcode, class: "form-control"
      .form-group
        %label Country
        = f.country_select :billing_country, {selected: @organization.billing_country || 'GB'}, {class: "form-control"}
      - if current_organization.self_service? && !current_user.staff? && current_organization.known_to_payment_gateway? && !current_organization.frozen?
        .form-group
          .pull-right
            = link_to 'Close Account', '', 'data-toggle' => "modal", 'data-target' => "#closeAccount"


  = submit_tag t(:save), class: 'btn btn-primary', data: { disable_with: t(:saving) }

- if current_organization.self_service?
  .modal.fade#closeAccount{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "closeAccount", 'aria-hidden' => "true", 'data-backdrop' => 'static'}
    .modal-dialog
      = form_tag close_account_path do
        .modal-content
          .modal-header
            %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
              &times;
            %h2.modal-title.text-danger
              %i.fa.fa-warning
              Be Aware
          .modal-body
            %p Please be advised:
            %ul
              %li Closing your account is not a reversible process.
              %li Once you confirm you wish to close, any running instances and other cloud resources will be forcibly terminated and removed.
              %li You (and any other users on this account) will no longer be able to access DataCentred apps, the cloud dashboard, or the API.
              %li Ensure any data you need has been backed up safely elsewhere.
              %li Your remaining account balance will be collected in a final bill payable at the end of the calendar month.
            %p
              If you have any questions, or require assistance please
              = link_to 'raise a support ticket', support_tickets_path
              \.

            .form-group
              %label Confirm password to proceed
              = password_field_tag :password, nil, class: 'form-control wink-password'

          .modal-footer
            %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
              = t(:cancel)
            = submit_tag 'Close Account?', class: 'btn btn-danger', id: 'submit'
