- title "My Account"

%h2
  Organization:
  = current_organization.name

%p
  %strong Account Number:
  = @organization.reporting_code

= form_for @organization, url: support_organization_path(@organization), :html => {:role => 'form'}, remote: true do |f|
  = javascript_error_messages_for(@organization)
  = javascript_success_messages_for(@organization)
  .row
    .col-md-6
      %h3 Details
      .form-group
        %label Account Name / Company Name
        = f.text_field :name, class: "form-control"
      .form-group
        %label Phone Number
        = f.telephone_field :phone, class: "form-control"
      .form-group
        %label= t(:time_zone)
        = f.time_zone_select :time_zone, nil, {include_blank: false}, {class: "form-control"}
      .form-group
        %label Billing Contact
        = f.text_field :billing_contact, list: "billing-emails", class: 'form-control'
        %datalist{id: "billing-emails"}
          - @organization.users.each do |user|
            %option{:value => user.email}
      .form-group
        %label Technical Contact
        = f.text_field :technical_contact, list: "technical-emails", class: 'form-control'
        %datalist{id: "technical-emails"}
          - @organization.users.each do |user|
            %option{:value => user.email}
    .col-md-6
      %h3 Billing Address
      .form-group
        %label Address 1
        = f.text_field :billing_address1, class: "form-control"
      .form-group
        %label Address 2
        = f.text_field :billing_address2, class: "form-control"
      .form-group
        %label City
        = f.text_field :billing_city, class: "form-control"
      .form-group
        %label Postcode / ZIP
        = f.text_field :billing_postcode, class: "form-control"
      .form-group
        %label Country
        = f.country_select :billing_country, {selected: @organization.billing_country || 'GB'}, {class: "form-control"}
      - if current_organization.self_service? && !current_user.staff? && current_organization.known_to_payment_gateway? && !current_organization.frozen?
        .form-group
          .pull-right
            = link_to 'Remove Organization', '', 'data-toggle' => "modal", 'data-target' => "#closeAccount"


  = submit_tag t(:save), class: 'btn btn-primary', data: { disable_with: t(:saving) }

= render partial: 'close'
