.ticket

  - if can? :modify, Ticket
    %div.btn-group.pull-right
      %button.btn.btn-primary.pull-right{:'ng-click' => "ticketDialogShow()"}
        %i.fa.fa-edit
        New Ticket
    %div.btn-group.pull-right
      %button.btn.btn-default.dropdown-toggle{:type => "button", :'id' => "statusDropdown", :'data-toggle' => "dropdown", :'uib-dropdown-toggle' => ""}
        %i.fa.fa-tag{:'ng-class' => "selectedTicket.status_name"}
        %span
          Status: {{selectedTicket.status_name}}
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li{:'ng-repeat' => "status in statuses"}
          %a{:'href' => "", :'ng-click' => "changeStatus(status.name)"}
            {{status.name}}

    %div.btn-group.pull-right
      %button.btn.btn-default.dropdown-toggle{:type => "button", :'id' => "priorityDropdown", :'data-toggle' => "dropdown", :'uib-dropdown-toggle' => ""}
        %i.fa.fa-exclamation{:'ng-class' => "'icon-' + selectedTicket.priority"}
        %span#selectedPriority
          Priority: {{selectedTicket.priority}}
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li{:'ng-repeat' => "priority in priorities"}
          %a{:'href' => "", :'ng-click' => "changePriority(priority.name)"}
            {{priority.name}}

  - else
    %div.btn-group.pull-right
      %i.fa.fa-tag{:'ng-class' => "selectedTicket.status_name"}
        %span
          Status: {{selectedTicket.status_name}}

  %h1 {{selectedTicket.title}}
  %h4.department-ref
    %span.label.label-success
      %i.fa.fa-users
      {{selectedTicket.department_name}}
    &nbsp;
    %span.label.label-primary
      %i.fa.fa-tag
      {{selectedTicket.reference}}
    &nbsp;

  %ul.media-list
    %li.media
      %a.pull-left.gravatar
        %img.img-circle{'gravatar-src' => "selectedTicket.email"}
      %div.media-body
        %h4.media-heading
          {{selectedTicket.name}}
        .user-callout{'ng-bind-html' => "selectedTicket.description"}
        %p.timestamp
          %em
            {{selectedTicket.created_at | momentDateTime}}
  %div{'ng-show' => "selectedTicket.department == 'Access Requests'"}
    .table-responsive
      %table
        %tr
          %td{style: 'width: 100px'}
            %strong Who:
          %td {{selectedTicket.visitor_names}}
        %tr
          %td{style: 'width: 100px'}
            %strong When:
          %td {{selectedTicket.date_of_visit}} at {{selectedTicket.time_of_visit}}
        %tr
          %td{style: 'width: 100px'}
            %strong Access code:
          %td {{selectedTicket.reference}}
  %div{'ng-show' => "selectedTicket.department == 'Technical Support' || selectedTicket.department == 'Colo Support'"}
    .table-responsive
      %table
        %tr
          %td{style: 'width: 100px'}
            %strong Additional information:
          %td {{selectedTicket.more_info}}
  - if can? :modify, Ticket
    %hr
    %div.btn-group#comment-button
      %button.btn.btn-default{:'ng-click' => "commentDialogShow()"}
        %i.fa.fa-comment
        Add Reply

  %div.comments
    %div{:'ng-show' => "hasComments(selectedTicket)"}
      %ul.media-list
        %li.media{:'ng-repeat' => ("comment in selectedTicket.comments")}
          .comment{:'ng-class' => "comment.unread"}
            %a.pull-left.gravatar
              %img.img-circle{'gravatar-src' => "comment.email"}
            %div.media-body
              %h4.media-heading
                {{comment.name}} {{comment.id}}
              %p
                %span.badge{:'ng-show' => "comment.staff"}
                  %i.fa.fa-shield
                  Staff
              .user-callout{'ng-bind-html' => "comment.text", 'ng-class' => "comment.staff ? 'staff' : ''"}
              %p.timestamp
                %em
                  {{comment.time | momentDateTime}}
          %span{:'in-view' => "comment.unread.length > 0 && markTicketRead(selectedTicket.reference, comment.id)"}
        %hr
        - if can? :modify, Ticket
          %div.btn-group#comment-button
            %button.btn.btn-default{:'ng-click' => "commentDialogShow()"}
              %i.fa.fa-comment
              Add Reply
    %div{:'ng-show' => "!hasComments(selectedTicket)"}
      There are no replies yet.



.modal.fade{'id' => 'newComment', 'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => 'newComment', 'aria-hidden' => "true", 'data-backdrop' => 'static'}
  .modal-dialog
    .modal-content
      .modal-header
        %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
          &times;
        %h4.modal-title
          %i.fa.fa-comment
          Add A Reply
        %p= t(:ticket_comment_directions)
      .modal-body
        = render partial: 'shared/model_errors'
        .input-group
          %span.input-group-addon
            %i.fa.fa-comment
          = text_area_tag :new_comment_text, nil, placeholder: "What's on your mind?", class: "form-control", autofocus: true
      .modal-footer
        %button.btn.btn-default{:'ng-click' => 'commentDialogCancel()'}
          = t(:cancel)
        %button.btn.btn-primary{:'ng-click' => 'commentDialogSubmit()'}
          = t(:submit)
