- title "Support"
- content_for(:enable_angular, true)

= render partial: 'incidents'

.pull-right
  = render partial: 'office_hours'

%h1
  %i.fa.fa-life-ring
  Support

.container-fluid#tickets-container.hide{:'ng-controller' => "TicketsController", :'ng-init' => 'populateTickets()', :'data-permanent-reference' => @reference}
  .row
    .col-md-12
      .some-info.space-after.animate-show{:'ng-show' => "isLoading"}
        %p
          %i.fa.fa-refresh.fa-spin
        %p
          Loading tickets...

    .col-md-12{:'ng-show' => "hasFailed"}
      .some-info.space-after
        %p
          %i.fa.fa-warning
        %p
          We can't load your support tickets right now.
        %p
          Please check back later or contact
          = mail_to 'support@datacentred.co.uk'

    .col-md-12.space-after{:'ng-hide' => "isLoading || hasFailed !== false"}

      .some-info.clear-fix.space-after{:'ng-hide' => "hasTickets()"}
        %p
          %i.fa.fa-square-o
        %p
          There are no tickets.
        - if can? :modify, Ticket
          %p
            %a{:href => '', :'ng-click' => 'ticketDialogShow()'} Create a new ticket

    .col-md-3
      %div{:'ng-show' => "hasTickets()"}
        %tabset
          %tab{:'ng-repeat' => "status in statuses | orderBy:'-name'", :heading => '{{status.name}}', :active => 'status.active'}
            = render partial: 'tickets_list'
        %a{name: 'ticket-top', class: 'ticket-top-anchor'}
    .col-md-9
      .some-info.space-after.ticket{:'ng-hide' => "selectedTicket || !hasTickets()"}
        %p
          %i.fa.fa-info-circle
        %p
          - if can? :modify, Ticket
            Select a ticket, or
            %a{:href => '', :'ng-click' => 'ticketDialogShow()'} create a new one
            \.
          - else
            Select a ticket.
      %div{:'ng-show' => "selectedTicket", id: 'selectedTicketAnchor'}
        = render partial: 'ticket'

  .modal.fade{'id' => 'newTicket', 'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => 'newTicket', 'aria-hidden' => "true", 'data-backdrop' => 'static'}
    .modal-dialog
      .modal-content
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h4.modal-title
            %i.fa.fa-circle
            New Ticket
          %p= t(:ticket_directions)
        .modal-body#new-ticket
          = render partial: 'shared/model_errors'
          .input-group
            %span.input-group-addon
              %i.fa.fa-folder
            = select_tag :new_ticket_department, options_for_select(@departments), class: "form-control", autofocus: true, prompt: "Choose a department"
          .input-group
            %span.input-group-addon
              %i.fa.fa-exclamation
            = select_tag :new_ticket_priority, options_for_select(@priorities), class: "form-control", prompt: "Choose a priority"
          %p.help-block
            Please only use the 'Emergency' priority setting in critical circumstances.
            = link_to 'More Info', '#', 'data-container' => "body", 'data-toggle' => "popover", 'data-placement' => "right", 'data-trigger' => "hover focus", 'data-content' => "<strong>Response Times</strong><br><br>Low: 1 working day<br>Normal: 4 working hours<br>High: 1 working hour<br>Emergency: 15 minutes, 24/7"
            \.
          #access-request-fields.hide
            - if can? :raise_for_others, Ticket
              .input-group
                %span.input-group-addon
                  %i.fa.fa-users
                .ui-widget
                  = text_field_tag :visitor_names, nil, placeholder: 'Visitor name(s)', :class => "form-control autocomplete-field", 'data-autocomplete-options' => current_organization.users.collect(&:name).to_json
            .input-group
              %span.input-group-addon
                %i.fa.fa-edit
              = text_area_tag :reason_for_visit, nil, placeholder: 'Please describe the nature of the visit', class: "form-control", rows: 4
            .input-group
              %span.input-group-addon
                %i.fa.fa-calendar
              = date_select :ticket, :date, {:start_year => Date.today.year, default: 1.days.from_now}, class: "form-control form-control-thirds"
            .input-group
              %span.input-group-addon
                %i.fa.fa-clock-o
              = time_select :ticket, :date, {ignore_date: true, time_separator: '', minute_step: 15}, class: "form-control form-control-halves"
          #other-issues-fields.hide
            .input-group
              %span.input-group-addon
                %i.fa.fa-tag
              = text_field_tag :new_ticket_title, nil, placeholder: "Describe the issue in a sentence", class: "form-control"
            .input-group
              %span.input-group-addon
                %i.fa.fa-edit
              = text_area_tag :new_ticket_description, nil, placeholder: 'Now, explain the issue in detail - the more information the better!', class: "form-control", rows: 8
            #support-fields.hide
              .input-group
                %span.input-group-addon
                  %i.fa.fa-info
                = text_area_tag :more_info, nil, placeholder: "Some technical information would be really helpful too.\n\nPerhaps tell us:\n- The instance ID in question?\n- The ID/name of the project affected?\n- The OpenStack Request ID corresponding to an error?", class: "form-control", rows: 8
            %strong.tiny
              %i.fa.fa-sticky-note
              You may use
              = link_to 'Markdown', ExternalLinks.github_mastering_markdown, class: 'text-info'
              in your ticket details if you need to add formatting.
        .modal-footer
          %button.btn.btn-default{:'ng-click' => 'ticketDialogCancel()'}
            = t(:cancel)
          %button.btn.btn-primary{:'ng-click' => 'ticketDialogSubmit()'}
            = t(:submit)

:javascript

  $(document).ready(function() {
    $('#tickets-container').removeClass('hide');
  });
