.modal.fade{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "editInvoice#{invoice.id}", 'aria-hidden' => "true", 'data-backdrop' => 'static', 'id' => "editInvoice#{invoice.id}"}
  .modal-dialog
    .modal-content
      = form_for invoice, url: admin_utilities_pending_invoice_path(invoice), remote: true do |f|
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h4.modal-title
            Create Stripe Invoice
          %p Please make corrections and confirm. The customer will be automatically billed by Stripe between 1-2 hours after the invoice is finalized.
        .modal-body
          = javascript_error_messages_for(f.object)
          .form-group
            %label Net Total (including any discounts on our side)
            = f.number_field :grand_total, :class => 'form-control', min: 0, step: 0.01
            %p.help-block== Stripe will apply #{invoice.tax_percent}% tax plus any additional discounts from Stripe Coupons
               
        .modal-footer
          %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            = t(:cancel)
          = submit_tag 'Finalize', class: 'btn btn-success', id: 'submit_button'
