.modal.fade{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "editInvoice#{invoice.id}", 'aria-hidden' => "true", 'data-backdrop' => 'static', 'id' => "editInvoice#{invoice.id}"}
  .modal-dialog
    .modal-content
      = form_for invoice, url: admin_utilities_pending_invoice_path(invoice), remote: true do |f|
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h4.modal-title
            Create Stripe Invoice
          %p Please make corrections and confirm. Once finalized, the customer will be automatically billed by Stripe within 1 hour.
        .modal-body
          = javascript_error_messages_for(f.object)
          .form-group
            %label Grand Total (Includes Tax And Discounts)
            = f.number_field :grand_total, :class => 'form-control', min: 0, step: 0.01
               
        .modal-footer
          %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            = t(:cancel)
          = submit_tag 'Finalize', class: 'btn btn-success', id: 'submit_button'
