- title "Finalized Invoices"

.pull-right
  = link_to 'Pending Invoices', admin_utilities_pending_invoices_path, class: 'btn btn-info'

%h1
  %i.fa.fa-calculator
  Finalized Invoices

- if @finalized_invoices.any?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %th Reporting Code
        %th Organization
        %th Month
        %th SalesForce Invoice
        %th Stripe Invoice
      %tbody
        - for invoice in @finalized_invoices
          = render partial: 'edit', locals: {invoice: invoice }
          %tr
            %td= invoice.organization ? invoice.organization.reporting_code : 'NA'
            %td= invoice.organization ? invoice.organization.name : 'NA'
            %td== #{Date::MONTHNAMES[invoice.month]} #{invoice.year}
            %td= link_to invoice.salesforce_id, invoice.salesforce_invoice_link, target: '_blank'
            %td= link_to invoice.stripe_invoice_id, invoice.stripe_invoice_link, target: '_blank'
- else
  .push
  .alert.alert-warning No finalized invoices found.