.panel.panel-success
  .panel-body.panel-padding
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          = render partial: "column_headings"
          %th
          %th
        %tbody
          - for invoice in @pending_manual_invoices
            = render partial: 'edit', locals: {invoice: invoice }
            %tr
              = render partial: "row", locals: {invoice: invoice}
              %td
                = form_for invoice, url: admin_utilities_pending_invoice_path(invoice), remote: true do |f|
                  = f.hidden_field :billing_invoice, :value => invoice
                  = submit_tag 'Finalize', class: 'btn btn-success', id: 'submit_button'
              %td= link_to 'Dismiss', admin_utilities_pending_invoice_path(invoice), 'class' => 'btn btn-danger', 'data-method' => "delete", 'data-confirm' => "This can't be undone. Are you sure?"
