- title "Pending Invoices"

.pull-right
  = link_to 'Finalized Invoices', admin_utilities_pending_invoices_path(finalized: true), class: 'btn btn-info'

%h1
  %i.fa.fa-calculator
  Pending Invoices

- if @pending_invoices.any?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %th Reporting Code
        %th Organization
        %th Month
        %th Total
        %th Discount
        %th Salesforce Invoice
        %th
      %tbody
        - for invoice in @pending_invoices
          = render partial: 'edit', locals: {invoice: invoice }
          %tr
            %td= invoice.organization.reporting_code
            %td= link_to invoice.organization.name, admin_customer_path(invoice.organization)
            %td== #{Date::MONTHNAMES[invoice.month]} #{invoice.year}
            %td== £#{number_with_precision(invoice.grand_total, :delimiter => ',', :separator => '.', :precision => 2)}
            %td== #{invoice.discount_percent}%
            %td= link_to invoice.salesforce_id, invoice.salesforce_invoice_link, target: '_blank'
            %td
              - if invoice.organization.self_service?
                = link_to 'Finalize?', '', class: 'btn btn-success', 'data-toggle' => "modal", 'data-target' => "#editInvoice#{invoice.id}"
            %td
              = link_to 'Dismiss', admin_utilities_pending_invoice_path(invoice), 'class' => 'btn btn-danger', 'data-method' => "delete", 'data-confirm' => "This can't be undone. Are you sure?"
- else
  .push
  .alert.alert-warning No pending invoices found.

