<%= stylesheet_link_tag '/email.css' %>

<div class="container" id="email">
  <%= render partial: 'header' %>

  <h1>Please activate your account</h1>

  <p>Once you're activated, you will only be charged for the resources you use.</p>
  
  <div style: "padding: 30px">
    <a class="confirm" target='_blank' href="<%= activate_url %>">Activate Account</a>
  </div>

  <h2>Can I activate over the phone?</h2>
  <p>Yes! Call <%= tel_to '+44 161 870 3981' %> between 9am and 5pm GMT and we'll activate your account for you.</p>

  <h2>Why do I need to activate?</h2>

  <p>We need to verify your identity to activate your account, even if you have a discount code that provides a free trial. This is purely to prevent fraudulent use of our cloud services.</p>

  <ul><li>You will only get charged for the resources you use. If you don't use anything, you will not be charged and you're free to cancel your account at any time.</li></ul>

  <p>Kind regards,<br/>
  The DataCentred Team</p>
</div>
<%= render partial: 'footer' %>