<%= stylesheet_link_tag 'email' %>
<style><%= File.read(Rails.root.join('app/assets/stylesheets/email.css')) %></style>

<div class="container" id="email">
  <%= render partial: 'header' %>
  <h1>There's a problem with your card</h1>

  <p>It looks like there's a problem with your payment card. In order to use DataCentred cloud services, we require a valid credit or debit card on file.</p>

  <div style: "padding: 30px">
    <a class="confirm" target='_blank' href="<%= support_manage_cards_url %>">Add New Card</a>
  </div>

  <p>If you have any questions or need to let us know more information, please get in touch with us via <%= mail_to 'support@datacentred.co.uk' %> or phone <%= tel_to '0161 870 3981' %>.</p>

  <p>Kind regards,<br/>
  The DataCentred Team</p>
</div>
<%= render partial: 'footer' %>