<%= stylesheet_link_tag 'email' %>
<style><%= File.read(Rails.root.join('app/assets/stylesheets/email.css')) %></style>

<div class="container" id="email">
  <%= render partial: 'header' %>

  <h1>New Signup</h1>

  <p><%= @organization.name %> has signed up through the self service portal.</p>

  <div style: "padding: 30px">
    <a class="confirm" target='_blank' href="<%= @salesforce_link %>">View More Info</a>
  </div>

  <p>Kind regards,<br/>
  The DataCentred Team</p>
</div>
<%= render partial: 'footer' %>
