<%= stylesheet_link_tag '/email.css' %>

<div class="container" id="email">
  <%= render partial: 'header' %>

  <h1>Please confirm your email address</h1>

  <p>Welcome to your DataCentred account. Please click below to confirm your signup.</p>
  
  <div style: "padding: 30px">
    <a class="confirm" target='_blank' href="<%= signup_begin_url(@invite.token) %>">Confirm Sign Up</a>
  </div>

  <h2>Why am I seeing this?</h2>

  <p>You've been sent this email because you've either signed up for a Cloud Services account with DataCentred, or you've been invited as an additional user to an existing account.</p>
    
  <h2>Getting Started</h2>

  <ul>
    <li>Your dashboard can be found at <%= link_to 'my.datacentred.io', 'https://my.datacentred.io' %> - from here, you can view your cloud usage information, raise support tickets, invite other users, and handle your account settings.</li>
    <li>Our documentation can be found at <%= link_to 'docs.datacentred.io', 'http://docs.datacentred.io' %> and contains various articles and tutorials on common topics and frequently asked questions.</li>
    <li>The OpenStack control panel can be found at <%= link_to 'compute.datacentred.io', 'https://compute.datacentred.io' %> and allows you to create and manage instances, volumes, images and virtual networking hardware. You can log into this using the same email address and password you set up with My DataCentred.</li>
  </ul>

  <p>The above setup link will expire at <%= am_pm_time(@invite.expires_at) %> on <%= long_date(@invite.expires_at.utc) %>. If you have any issues accessing your account, please contact <%= link_to 'support@datacentred.co.uk', 'mailto:support@datacentred.co.uk' %>.</p>

  <p>If you require any assistance, please log into <%= link_to 'my.datacentred.io', 'https://my.datacentred.io' %> and raise a ticket in the Support section.</p>

  <p>Kind regards,<br/>
  The DataCentred Team</p>
</div>
<%= render partial: 'footer' %>
