<%= stylesheet_link_tag 'email' %>
<style><%= File.read(Rails.root.join('app/assets/stylesheets/email.css')) %></style>

<div class="container" id="email">
  <%= render partial: 'header' %>
  <h1>Weekly Platform Summary</h1>
  <p><em>Week beginning <%= @week_beginning %></em></p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th>#</th>
        <th>Customer</th>
        <th>VCPU hours</th>
        <th>RAM</th>
        <th>OpenStack Storage</th>
        <th>Ceph Storage</th>
        <th>Load Balancers</th>
        <th>VPN Connections</th>
        <th>Admin Contact</th>
        <th>Spend</th>
        <th>Paying?</th>
      </thead>
      <tbody>
        <% @organization_data.each_with_index do |entry, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= entry[:name] %></td>
            <td><%= number_with_delimiter(entry[:vcpu_hours].round(1), :delimiter => ',') %> hours</td>
            <td><%= number_with_delimiter(entry[:ram_tb_hours].round(1), :delimiter => ',') %> TBh</td>
            <td><%= number_with_delimiter(entry[:openstack_tb_hours].round(1), :delimiter => ',') %> TBh</td>
            <td><%= number_with_delimiter(entry[:ceph_tb_hours].round(1), :delimiter => ',') %> TBh</td>
            <td><%= number_with_delimiter(entry[:load_balancer_hours].round(1), :delimiter => ',') %> hours</td>
            <td><%= number_with_delimiter(entry[:vpn_connection_hours].round(1), :delimiter => ',') %> hours</td>
            <td><%= mail_to entry[:contacts].first %></td>
            <td><%= number_to_currency(entry[:spend], unit: '£', separator: '.', delimiter: ',' ) %></td>
            <td><%= entry[:paying] ? '✔' : '✘' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
