- if images && images.any?
  %div.usage-back
    %h3 Image Usage
    .table-responsive
      %table.table.table-hover.phone-bill
        %thead
          %tr
            %th.icon
              %i.fa.fa-upload
            %th Name
            %th Unique Identifier
            %th Created At
            %th Last Recorded Size
            %th Deleted At
            %th
              %i.fa.fa-clock-o
              Terabyte Hours
            - if current_organization.show_costs?
              %th
                %i.fa.fa-gbp
                Total
        %tbody
          - images.each do |image|
            %tr
              %td &nbsp;
              %td= image[:name]
              %td= image[:id]
              %td= image[:created_at]
              %td
                = image[:latest_size].round(2)
                GB
              %td= image[:deleted_at] ? image[:deleted_at] : '-'
              %td
                = number_with_delimiter(image[:terabyte_hours], :delimiter => ',')
                TBh
              - if current_organization.show_costs?
                %td== £#{number_with_precision(image[:cost], :delimiter => ',', :separator => '.', :precision => 4)}
          %tr.highlight.bottomline
            %td &nbsp;
            %td &nbsp
            %td &nbsp
            %td &nbsp
            %td &nbsp
            %td Total:
            %td
              = number_with_delimiter(images.collect{|v| v[:terabyte_hours]}.sum.round(2), :delimiter => ',')
              TBh
            - if current_organization.show_costs?
              %td
                == £#{number_with_precision(@usage_decorator.image_total(project.id), :delimiter => ',', :separator => '.', :precision => 2)}

