- if floating_ips && floating_ips.values.any?
  %h3 Floating IPs
  %p== Project quota: #{floating_ips.values.first[:quota]} addresses
  %table.table.table-hover
    %thead
      %tr
        %th Address
        %th Hours Assigned to an Instance
    %tbody
      - floating_ips.each do |_, results|
        %tr
          %td= results[:address]
          %td= ((results[:billable_seconds] / 60.0) / 60.0).ceil
      %tr.highlight.bottomline
        %td Total:
        %td= ((floating_ips.values.collect{|ip| ip[:billable_seconds]}.sum / 60.0) / 60.0).ceil

- if external_gateways && external_gateways.values.any?
  %h3 External Gateways
  %table.table.table-hover
    %thead
      %tr
        %th Router Name
        %th Hours Connected to External Network
    %tbody
      - external_gateways.each do |_, results|
        %tr
          %td= results[:name]
          %td= ((results[:billable_seconds] / 60.0) / 60.0).ceil
      %tr.highlight.bottomline
        %td Total:
        %td= external_gateways.values.collect{|ip| ((ip[:billable_seconds] / 60.0) / 60.0).ceil}.sum
