%div.usage-back
  %h3 IP Addresses
  %p.tiny One address included free of charge.
  %p
    %strong Current Quota:
    == #{project.quota_set['network']['floatingip']} addresses
  - if current_organization.show_costs?
    %p
      %strong Cost:
      == £#{number_with_precision(ip_quota_total, :delimiter => ',', :separator => '.', :precision => 2)}
  - if ip_quotas && ip_quotas.any?
    .table-responsive
      %table.table.table-hover.phone-bill
        %thead
          %tr
            %th.icon
              %i.fa.fa-sitemap
            %th Quota Set At
            %th Addresses
            %th Previous Value
            
        %tbody
          - ip_quotas.each do |quota|
            %tr
              %td &nbsp;
              %td= quota.recorded_at
              %td
                = quota.quota
                addresses
              %td
                = quota.previous.nil? ? "-" : "#{quota.previous} addresses"


