%div.usage-back
  %h3 IP Addresses
  %p.tiny One address included free of charge.
  %p
    %strong Current Quota:
    == #{ips[:current_quota]} addresses
  - if current_organization.show_costs?
    %p
      %strong Cost:
      == £#{number_with_precision(ips[:usage].sum{|u| u[:cost][:value]}, :delimiter => ',', :separator => '.', :precision => 2)}
  - if ips[:quota_changes] && ips[:quota_changes].any?
    .table-responsive
      %table.table.table-hover.phone-bill
        %thead
          %tr
            %th.icon
              %i.fa.fa-sitemap
            %th Quota Set At
            %th Addresses
            %th Previous Value
            
        %tbody
          - ips[:quota_changes].each do |quota|
            %tr
              %td &nbsp;
              %td= quota[:recorded_at]
              %td
                = quota[:quota]
                addresses
              %td
                = quota[:previous].nil? ? "-" : "#{quota[:previous]} addresses"


