- if volumes && volumes.any?
  %div.usage-back
    %h3 Volume Usage
    .table-responsive
      %table.table.table-hover.phone-bill
        %thead
          %tr
            %th.icon
              %i.fa.fa-database
            %th Name
            %th Unique Identifier
            %th Created At
            %th Last Recorded Size
            %th Deleted At
            %th Type
            %th
              %i.fa.fa-clock-o
              Terabyte Hours
            - if current_organization.show_costs? 
              %th
                %i.fa.fa-gbp
                Total
        %tbody
          - volumes.each do |volume|
            %tr
              %td &nbsp;
              %td= volume[:name]
              %td= volume[:id]
              %td= volume[:created_at]
              %td
                = volume[:latest_size_gb]
                GB
              %td= volume[:deleted_at] ? volume[:deleted_at] : '-'
              %td= volume[:tags].include?('ssd') ? 'SSD'  : '-'
              %td
                = number_with_delimiter(volume[:usage].sum{|u| u[:value]}.round(4), :delimiter => ',')
                TBh
              - if current_organization.show_costs?
                %td== £#{number_with_precision(volume[:usage].sum{|u| u[:cost][:value]}.nearest_penny, :delimiter => ',', :separator => '.', :precision => 2)}
          %tr.highlight.bottomline
            %td &nbsp
            %td &nbsp
            %td &nbsp
            %td &nbsp
            %td &nbsp;
            %td &nbsp;
            %td Total:
            %td
              = number_with_delimiter(volumes.sum{|i| i[:usage].sum{|u| u[:value]}}.round(2), :delimiter => ',')
              TBh
            - if current_organization.show_costs?
              %td
                == £#{number_with_precision(@usage_decorator.volume_total(project_uuid), :delimiter => ',', :separator => '.', :precision => 2)}

