- if volumes && volumes.any?
  %div.usage-back
    %h3 Volume Usage
    .table-responsive
      %table.table.table-hover.phone-bill
        %thead
          %tr
            %th.icon
              %i.fa.fa-database
            %th Name
            %th Unique Identifier
            %th Created At
            %th Last Recorded Size
            %th Deleted At
            %th Type
            %th
              %i.fa.fa-clock-o
              Terabyte Hours
            - unless current_organization.test_account? 
              %th
                %i.fa.fa-gbp
                Total
        %tbody
          - volumes.each do |volume|
            %tr
              %td &nbsp;
              %td= volume[:name]
              %td= volume[:id]
              %td= volume[:created_at]
              %td
                = volume[:latest_size]
                GB
              %td= volume[:deleted_at] ? volume[:deleted_at] : '-'
              %td= volume[:volume_type_name] ? volume[:volume_type_name]  : '-'
              %td
                = number_with_delimiter(volume[:terabyte_hours], :delimiter => ',')
                TBh
              - unless current_organization.test_account?
                %td== £#{number_with_precision(volume[:cost], :delimiter => ',', :separator => '.', :precision => 2)}
          %tr.highlight.bottomline
            %td &nbsp
            %td &nbsp
            %td &nbsp
            %td &nbsp
            %td &nbsp;
            %td &nbsp;
            %td Total:
            %td
              = number_with_delimiter(volumes.collect{|v| v[:terabyte_hours]}.sum.round(2), :delimiter => ',')
              TBh
            - unless current_organization.test_account?
              %td
                == £#{number_with_precision(@usage_decorator.volume_total(project.id), :delimiter => ',', :separator => '.', :precision => 2)}

