- if vpn_connections && vpn_connections.any?
  %div.usage-back
    %h3 VPN Connection Usage
    .table-responsive
      %table.table.table-hover.phone-bill
        %thead
          %tr
            %th.icon
              %i.fa.fa-lock
            %th Name
            %th Unique Identifier
            %th Created At
            %th Terminated At
            %th
              %i.fa.fa-clock-o
              Hours
            - if current_organization.show_costs? 
              %th
                %i.fa.fa-gbp
                Total
        %tbody
          - vpn_connections.each do |vpn|
            %tr
              %td &nbsp;
              %td= vpn[:name]
              %td= vpn[:id]
              %td= vpn[:started_at]
              %td= vpn[:terminated_at] ? vpn[:terminated_at] : '-'
              %td
                == #{number_with_delimiter(vpn[:usage].sum{|u| u[:value]}, :delimiter => ',')} of #{@total_hours}
              - if current_organization.show_costs?
                %td== £#{number_with_precision(vpn[:usage].sum{|u| u[:cost][:value]}, :delimiter => ',', :separator => '.', :precision => 2)}
          %tr.highlight.bottomline
            %td &nbsp
            %td &nbsp
            %td &nbsp
            %td &nbsp;
            %td Total:
            %td
              = number_with_delimiter(vpn_connections.sum{|lb| lb[:usage].sum{|u| u[:value]}}, :delimiter => ',')
              hours
            - if current_organization.show_costs?
              %td
                == £#{number_with_precision(@usage_decorator.vpn_connection_total(project_uuid), :delimiter => ',', :separator => '.', :precision => 2)}

