<!DOCTYPE html>
<html>
<head>
  <title><%= t('apipie.api_documentation') %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= Apipie.include_stylesheets %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
  <%= favicon_link_tag 'favicon.png' %>
  <link type='text/css' rel='stylesheet' href='<%= Apipie.full_url("stylesheets/application.css")%>'/>
  <style>
    body {
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    body, p {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 120;
      line-height: 20px;
    }

    header {
      padding-left: 10px;
      padding-right: 10px;
      background: #213550;
      position: relative;
      z-index: 20;
      height:98px;
      margin-bottom: 30px
    }

    img.logo {
      margin-top: 18px;
      margin-left: 10px;
      float: left;
    }

    h1#main-title {
      margin-bottom: 20px;
      font-size: 40px
    }
    a {
      color: #50719C;
      text-decoration: none;
    }

    span.label.label-inverse {
      background-color: #9C7221;
    }

    h1, h2, h3 {
      margin-bottom: 10px;
    }

    li {
      line-height: 25px;
    }

    pre {
      font-size: 12px;
      line-height: 20px;
    }

    .bg-info{
      background-color:#d9edf7;
      padding: 15px;
      padding-left: 5px;
      margin: 10px;
      margin-left: 0px;
      display:inline-block;
      border: solid 1px #aaa;
    }
    button.btn-copy {
      opacity: 0.6;
    }
    button.btn-copy:hover {
      opacity: 1;
    }
    .copy-btn-img {
      height: auto;
      width: 12px;
    }

    .prettyprint {
      background-color: #222;
      padding: 10px;
      padding-left: 20px;
      font-size: 14px;
    }
    .prettyprint .com {
      color: #aaa;
    }
    .prettyprint .pln {
      color: #ca4;
    }
    .prettyprint .pun {
      color: #070;
    }
    .prettyprint .str {
      color: #aca;
    }
    .prettyprint .typ {
      color: #3a87ad;
    }
    .prettyprint .lit {
      color: #c64;
    }
    .prettyprint .kwd {
      color: #aca;
    }

    button.btn {
      background-image: none;
    }
  </style>
</head>
<body>
  <header class="header" id="header">
    <a href='/api'>
      <%= image_tag 'dc.png', class: "logo" %>
    </a>
  </header>
  <div class="container-fluid">
    <h1 id="main-title">⚙️ API Reference</h1>
    <div class="row-fluid">
      <div id='container'>
        <%= yield %>
        <%= render 'disqus' if Apipie.configuration.use_disqus? %>
      </div>
    </div>
    <hr>
    <footer><%= yield :apipie_footer %></footer>
  </div>
  <%= Apipie.include_javascripts %>
  <script>
    $(document).ready(function() {
      $('pre.prettyprint').each(function() {
        copy_btn = $("<button class=\"btn btn-copy\" style=\"float: right; background-color: #fff\"><img alt='Click to copy' title='Click to copy' class='copy-btn-img' src=\"<%= asset_path('clippy.svg') %>\"></button>");
        copy_btn.attr('data-clipboard-text', $(this).text());
        $(this).prepend(copy_btn)
      });
      
      var clipboard = new Clipboard('.btn-copy');

      clipboard.on('success', function(e) {
        var copied_notice = $("<span class='notice'> Copied!</span>")
        $(e.trigger).append(copied_notice);
        setTimeout(function() {
          $('span.notice').fadeOut();
          $('span.notice').remove();
        }, 1600);
        e.clearSelection();
      });

      clipboard.on('error', function(e) {
        $(e.trigger).append(" Press Ctrl+C to copy");
      });
    });
  </script>
</body>
</html>
