.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th= t(:date_word)
        %th= t(:time_word)
        %th= t(:user)
        %th= t(:action)
    %tbody
      - if audits.any?
        - audits.each do |audit|
          %tr
            %td
              = gravatar_image_tag(audit.user ? audit.user.email : '', :class => 'img-circle nav-profile')
            %td
              = short_date(audit.created_at)
            %td
              = long_time(audit.created_at)
            %td
              = audit.user ? audit.user.name : t(:system).upcase
            %td
              = render partial: "support/audits/table/#{audit.auditable_type.underscore}", locals: { audit: audit }
      - else
        %tr
          %td
            %em No audits.
