.user-images
  - if can? :modify, Role
    %span.new-user
      %a{'href' => '', 'data-toggle' => "modal", 'data-target' => "#addRoleUser#{role.id}"}
        %i.fa.fa-plus
  = render partial: 'support/roles_users/form', locals: { role: role }
  - for user in role.users
    - if can? :modify, Role
      %span.image{'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => "#{t(:remove)} #{user.name}?"}
        %a{href: support_remove_role_user_path(role, user), data: { method: 'delete', confirm: "#{t(:remove)} #{user.name}?"}}
          = gravatar_image_tag(user.email, title: '', alt: user.name, class: 'img-circle')
    - else
      = gravatar_image_tag(user.email, title: '', alt: user.name, class: 'img-circle')