.modal.fade#inviteUser{'tabindex' => "-1", 'role' => "dialog", 'aria-labelledby' => "inviteUser", 'aria-hidden' => "true", 'data-backdrop' => 'static'}
  .modal-dialog
    .modal-content
      = form_for Invite.new, url: url_for(controller: 'support/invites', action: 'create'), :remote => true do |f|
        .modal-header
          %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}
            &times;
          %h4.modal-title#inviteUser
            %i.fa.fa-envelope
            = t(:invite_user)
          %p= t(:please_email_and_one_role)
        .modal-body
          = javascript_error_messages_for(f.object)
          .form-group
            .input-group.has-warning
              %span.input-group-addon
                %i.fa.fa-envelope
              = f.email_field :email, placeholder: t(:email), class: "form-control", autofocus: true
          .form-group
            .input-group.has-warning
              %span.input-group-addon
                %i.fa.fa-key
              = f.select :role_ids, roles_for_select(current_user.organization), {}, class: "select-roles", multiple: true, placeholder: t(:assign_at_least_one_role)
        .modal-footer
          %button.btn.btn-default{'data-toggle' => "modal", 'data-dismiss' => "modal"}
            = t(:cancel)
          = f.submit t(:invite), class: 'btn btn-primary', id: 'submit'
