- @users.each do |user|
  = javascript_error_messages_for(user)
  = javascript_success_messages_for(user)

.page-controls
  - if can? :modify, Invite
    %button.btn.btn-primary{'data-toggle' => "modal", 'data-target' => "#inviteUser"}
      %i.fa.fa-envelope
      = t(:invite_new_user)
  - else
    &nbsp;

- if open_invites.any? && can?(:modify, Invite)
  %h3
    = t(:pending_invites)
    = "(#{@open_invites.count})"
  .table-responsive
    %table.table
      %thead
        %th
          %i.fa.fa-envelope
        %th
          = t(:email)
        %th
          = t(:roles)
        %th Status
        %th
      %tbody
        - open_invites.each do |invite|
          %tr
            %td= image_tag asset_path("assets/default_user.png"), "class" => "gravatar img-circle", "alt" => "Gravatar", "data-gravatar_hash" => invite.gravatar_hash
            %td= invite.email
            %td= invite.roles.collect(&:name).join ", "
            %td= invite_status_label(invite.delivery_status)
            %td
              - if can?(:modify, Invite)
                %a{href: support_invite_path(invite), data: { remote: true, method: :delete, confirm: "Are you sure?"}}
                  %i.fa.fa-trash-o
%h3
  = t(:users)
  = "(#{@users.count})"
= render partial: 'support/users/user_info', locals: {users: @users}
= render partial: 'support/users/invite_user'
