- title "My Profile"

%h3= t(:edit_profile)

= gravatar_image_tag(@user.email, :gravatar => { :size => 180 }, class: 'img-circle profile-image')

.row
  .col-md-6
    = form_for @user, url: support_user_path(@user), :html => {:role => 'form'}, remote: true do |f|
      = javascript_error_messages_for(@user)
      = javascript_success_messages_for(@user)
      .form-group
        %label= t(:first_name)
        = f.text_field :first_name, class: "form-control"
      .form-group
        %label= t(:last_name)
        = f.text_field :last_name, class: "form-control"
      .form-group
        %label= t(:email)
        = f.email_field :email, class: "form-control", disabled: true
        %span.help-block
          = t(:gravatar_instructions).html_safe
      .form-group
        %label= t(:password)
        = f.password_field :password, class: "form-control wink-password", placeholder: 'Leave blank to keep password the same'
      .form-group
        #password-progress-bar-container
      .form-group
        %h4 Preferences
        - User.default_preferences.each do |pref, _|
          %label.checkbox-inline
            = f.check_box "preferences[#{pref}]", checked: @user.preferences[pref] == "1"
            = "#{pref.to_s.humanize.titleize}?"
      = submit_tag t(:save), class: 'btn btn-primary', data: { disable_with: t(:saving) }

= javascript_include_tag asset_path('assets/password-score.js')

