- title "My Profile"

%h3= t(:edit_profile)

= gravatar_image_tag(@user.email, :gravatar => { :size => 180 }, class: 'img-circle profile-image')

.row
  .col-md-6
    = form_for @user, url: support_user_path(@user), :html => {:role => 'form'}, remote: true do |f|
      = javascript_error_messages_for(@user)
      = javascript_success_messages_for(@user)
      .form-group
        %label= t(:first_name)
        .input-group
          %span.input-group-addon
            %i.fa.fa-user
          = f.text_field :first_name, class: "form-control"
      .form-group
        %label= t(:last_name)
        .input-group
          %span.input-group-addon
            %i.fa.fa-user
          = f.text_field :last_name, class: "form-control"
      .form-group
        %label
          = t(:email)
          %a{class: "has-tooltip",id: "username-info",href: "", target: '_blank', 'data-toggle' => "tooltip", 'data-placement' => "bottom", 'title' => 'This will be your login username.'}
            %i.fa.fa-info-circle
        .input-group
          %span.input-group-addon
            %i.fa.fa-envelope-o
          = f.email_field :email, class: "form-control", disabled: true
        %span.help-block
          = t(:gravatar_instructions).html_safe
      .form-group
        %label= t(:password)
        -# .input-group
        -#   %span.input-group-addon
        -#     %i.fa.fa-key
        = f.password_field :password, class: "form-control wink-password", placeholder: 'Leave blank to keep password the same'
      .form-group
        #password-progress-bar-container

      = submit_tag t(:save), class: 'btn btn-primary', data: { disable_with: t(:saving) }

= javascript_include_tag asset_path('assets/password-score.js')
