.table-responsive
  %table.table.table-hover
    %thead
      %th
        %i.fa.fa-user
      %th
        = t(:name)
      %th
        = t(:email)
      %th
        = t(:roles)
      - if organization.cloud?
        %th Cloud Projects
      %th
    %tbody
      - organization_users.each do |organization_user|
        %tr
          %td= image_tag asset_path("assets/default_user.png"), "class" => "gravatar img-circle", "alt" => "Gravatar", "data-gravatar_hash" => organization_user.user.gravatar_hash
          %td= link_to organization_user.user.name, "#user_#{organization_user.user.id}", 'data-toggle' => 'collapse', 'data-parent' => '#accordionUsers'
          %td= mail_to organization_user.user.email, "#{organization_user.user.email}"
          %td
            %i.fa.fa-key
            = list_of_roles(organization_user)
          - if organization.cloud?
            %td
              %i.fa.fa-folder-o
              - if list_of_projects(organization_user).present?
                = list_of_projects(organization_user)
              - else
                %em None
          %td
            - if can?(:modify, OrganizationUser) && organization_user.id != current_organization_user.id
              %a{href: admin_customer_user_path(organization, organization_user.user), data: { remote: true, method: :delete, confirm: "Are you sure?"}, class: "btn btn-danger"}
                %i.fa.fa-trash-o
