- title "Account Migrations"

%h1
  %i.fa.fa-plane
  Account Migrations

- if @organizations.any?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %th Name
        %th Reference
        %th Reporting Code
        %th Account Type
        %th
      %tbody
        - for organization in @organizations
          %tr
            %td= organization.name
            %td= organization.reference
            %td= organization.reporting_code
            %td= organization.self_service? ? 'Self Service' : 'Invoiced/Trial'
            %td
              = link_to "Migrate to #{!organization.self_service? ? 'Self Service' : 'Invoiced/Trial'}", admin_account_migrations_path(organization_id: organization.id), class: 'btn btn-success', 'data-method' => "post", 'data-confirm' => 'Are you sure?'
- else
  .push
  .alert.alert-warning No customers found.
