.container
  %row
    .col-md-4
      %h4 Misc

      %ul
        %li= link_to 'Pending Invoices', admin_utilities_pending_invoices_path
        %li= link_to 'Resellers', admin_utilities_resellers_path
        %li= link_to 'Users Online', admin_utilities_online_users_path
        %li= link_to 'Discount Codes', admin_utilities_vouchers_path
        %li= link_to 'Billing Rates', admin_utilities_billing_rates_path
        %li= link_to 'Announcements', admin_utilities_announcements_path
    .col-md-4
      %h4 Housekeeping

      %ul
        %li= link_to 'Stuck IPs', admin_utilities_stuck_ips_path
    .col-md-4
      %h4 System

      %ul
        %li= link_to 'Queue', admin_utilities_queue_index_path
        %li= link_to 'Scheduler', admin_utilities_scheduler_index_path
        %li= link_to 'System Info', admin_utilities_system_info_index_path
        %li= link_to 'Sanity', admin_utilities_sanity_index_path
