!!!
%html{'ng-app' => "angularJS"}
  %head
    %title DataCentred Admin Dashboard
    = render partial: 'shared/preconnects'
    = render partial: 'shared/javascript_includes'
    = csrf_meta_tags

%body
  = render partial: 'shared/environment'
  = render partial: 'shared/stylesheet_includes'
  #wrap
    #flashes= display_flash
    %div.page-body
      .container
        = yield
