!!!
%html{'ng-app' => "angularJS"}
  %head
    %title= content_for?(:title) ? "DataCentred - #{content_for(:title)}" : "DataCentred"
    = render partial: 'shared/head'

%body{'data-controller' => controller.controller_path, 'data-action' => controller.action_name,
      'class' => content_for(:body_classes)}
  = render partial: 'shared/google_tags'
  #wrap
    .top-nav.navbar.navbar-default.navbar-fixed-top
      .container{style: "width:100%"}
        = render partial: 'shared/mob_menu'
        %a{href: support_root_path, class: 'back-to-dash' }
          %h1.logo
        = render partial: 'shared/top_menu'
        .context-nav
          = render partial: 'shared/support_nav'

    %div.page-body
      = render partial: 'shared/environment'
      .container
        - if [support_root_url, activated_url, root_url].include?(request.path)
          = render partial: 'shared/cloud_services'
          = render partial: "announcements/starburst/announcement_bootstrap"
        %p &nbsp;
        = display_flash
        = yield
        .push
= render partial: 'shared/footer' if current_organization.known_to_payment_gateway?
= render partial: 'shared/ga' if Rails.env.production?
= render partial: 'shared/spinner'
= stripe_javascript_tag
