!!!
%html{'ng-app' => "angularJS"}
  %head
  %title DataCentred Dashboard
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
  = stripe_javascript_tag
  = csrf_meta_tags
  %meta{'charset' => "utf-8"}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'}
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

%body
  #wrap
    .top-nav.navbar.navbar-default.navbar-fixed-top
      .container
        %a{href: support_root_path, class: 'back-to-dash' }
          .logo
        = render partial: 'shared/top_menu'
        .context-nav
          = render partial: 'shared/support_nav'
      
    %div.page-body
      = render partial: 'shared/environment'
      .container
        - if request.url == support_root_url
          = render :partial => "announcements/starburst/announcement_bootstrap"
        - elsif current_user.organization.known_to_payment_gateway?
          %h3.organisation
            -# = image_tag 'bbc.png'
            =# current_user.organization.name
        #flashes= display_flash
        = yield
        .push
= render partial: 'shared/footer'
= render partial: 'shared/ga'
