!!!
%html
  %head
  %title Datacentred Dashboard
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %meta{'charset' => "utf-8"}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'}
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

%body
  #wrap

    .container
      %a{href: support_root_path, class: 'back-to-dash' }
        = image_tag 'logo_small.png', class: 'logo'
        %div
          %h2 > Dashboard
      #flashes= display_flash
      %nav= render partial: 'shared/support_nav'
      = yield
      .push
  /= render partial: 'shared/footer'
  = render partial: 'shared/ga'