!!!
%html{'ng-app' => "angularJS"}
  %head
  %title DataCentred Dashboard
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
  = csrf_meta_tags
  %meta{'charset' => "utf-8"}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'}
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

%body
  #wrap
    .top-nav
      .container
        %a{href: support_root_path, class: 'back-to-dash' }
          = image_tag 'logo_small.png', class: 'logo'
        = render partial: 'shared/top_menu' unless request.url == support_root_url
        .context-nav= render partial: 'shared/support_nav'
      
  
    .container
      %h3.organisation
        = image_tag 'bbc.png'
        = current_user.organization.name
      #flashes= display_flash
      = yield
      .push
= render partial: 'shared/footer'
= render partial: 'shared/ga'
