!!!
%html{'ng-app' => "angularJS"}
  %head
  %title= content_for?(:title) ? content_for(:title) : "DataCentred"
  = favicon_link_tag 'favicon.png'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application'
  = stripe_javascript_tag
  = csrf_meta_tags
  %meta{'charset' => "utf-8"}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'}
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

%body
  = render partial: 'shared/google_tags'
  #wrap
    .top-nav.navbar.navbar-default.navbar-fixed-top
      .container{style: "width:100%"}
        = render partial: 'shared/mob_menu'
        %a{href: support_root_path, class: 'back-to-dash' }
          %h1.logo
        = render partial: 'shared/top_menu'
        .context-nav
          = render partial: 'shared/support_nav'
      
    %div.page-body
      = render partial: 'shared/environment'
      = render partial: 'shared/cloud_services'
      .container
        - if request.url == support_root_url || activated_url
          = render :partial => "announcements/starburst/announcement_bootstrap"
        %p &nbsp;
        = display_flash
        = yield
        .push
= render partial: 'shared/footer' if current_user.organization.known_to_payment_gateway?
= render partial: 'shared/ga'
#loading-overlay.hide
  .spinner
    %i.fa.fa-cog.fa-spin