!!!
%html
  %head
  %title DataCentred Sign Up
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = stripe_javascript_tag
  = csrf_meta_tags
  %meta{'charset' => "utf-8"}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'}
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

%body.sign-in.customer-sign-up
  #wrap
    .container#sign-in
      = image_tag 'logo_text_only.png', class: 'sign-in-logo'
      = yield
  = render partial: 'shared/ga'