!!!
%html
  %head
  %title DataCentred Sign Up
  = favicon_link_tag 'favicon.png'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %meta{'charset' => "utf-8"}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'}
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

%body.sign-in.customer-sign-up.public-page
  = render partial: 'shared/google_tags'
  = render partial: 'shared/environment'
  .push
  = image_tag 'DC_Mono_B.png', class: 'sign-in-logo'
  .container#sign-in
    = yield
  = render partial: 'shared/ga'
  %script{src: asset_path('card')}