!!!
%html
  %head
    %title Oops!
    = render partial: 'shared/preconnects'
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'async' => true, 'cache' => true
    = csrf_meta_tags
    %meta{'charset' => "utf-8"}
    %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge'}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

%body
  = render partial: 'shared/google_tags'
  = render partial: 'shared/environment'
  .thunder-cloud
  #wrap
    .top-nav
      .container
        %a{href: support_root_path, class: 'back-to-dash' }
          = image_tag 'logo_long.png', class: 'logo'
    .container.error-page
      .push
      .push
      = yield
      .push
= render partial: 'shared/footer'
= render partial: 'shared/ga'
