!!!
%html
  %head
    %title Oops!
    = render partial: 'shared/preconnects'
    = render partial: 'shared/javascript_includes'
    = csrf_meta_tags

%body
  = render partial: 'shared/google_tags'
  = render partial: 'shared/stylesheet_includes'
  = render partial: 'shared/environment'
  .thunder-cloud
  #wrap
    .top-nav
      .container
        %a{href: support_root_path, class: 'back-to-dash' }
          = image_tag 'logo_long.png', class: 'logo'
    .container.error-page§
      .push
      .push
      = yield
      .push
= render partial: 'shared/footer'
= render partial: 'shared/ga'
