!!!
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "DataCentred"
    = render partial: 'shared/preconnects'
    = render partial: 'shared/javascript_includes'
    = csrf_meta_tags

%body.sign-in
  = render partial: 'shared/google_tags'
  = render partial: 'shared/environment'
  = render partial: 'shared/stylesheet_includes'

  = image_tag 'DC_Mono_B.png', class: 'sign-in-logo'
  .container#sign-in
    = yield
  = render partial: 'shared/ga'
#loading-overlay.hide
  .spinner
    %i.fa.fa-cog.fa-spin