!!!
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "DataCentred"
    = render partial: 'shared/head'

%body.sign-in
  = render partial: 'shared/google_tags'
  = render partial: 'shared/environment'

  = image_tag 'DC_Mono_B.png', class: 'sign-in-logo'
  .container#sign-in
    = yield
  = render partial: 'shared/ga' if Rails.env.production?
#loading-overlay.hide
  .spinner
    %i.fa.fa-cog.fa-spin